In [1]:
print "hi"

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-1-cf66817c8381>, line 1)

In [2]:
print ("hi")

hi

In [6]:
import pandas as pd
df1=pd.read_csv("test.csv")
print(df1)

               id       alcohol_consumption location_class        workstatus  \
0         citzen1       2 - 3 times a month              A  working fulltime
1       citzen100       2 - 3 times a month            NaN  working fulltime
2     citzen10007               Once a week              B     keeping house
3     citzen10010       2 - 3 times a month              A  working fulltime
4     citzen10023  Multiple times in a week              F  working parttime
5     citzen10039               Occassional              D  working fulltime
6     citzen10046                     Never              A  working fulltime
7      citzen1005               Occassional              D  working fulltime
8     citzen10054                     Never              F  working fulltime
9     citzen10057                    Rarely              E     keeping house
10    citzen10061                     Never              E  working parttime
11    citzen10064                    Rarely              A     keeping house
12    citzen10067                       NaN              F             other
13    citzen10072                    Rarely              F  working fulltime
14    citzen10073                    Rarely              B           retired
15    citzen10076                    Rarely              G  working fulltime
16    citzen10077                     Never              A  working fulltime
17    citzen10079                    Rarely              G  working fulltime
18    citzen10081              Once a month              D  working parttime
19    citzen10083              Once a month              A  working fulltime
20    citzen10084                     Never              C  working fulltime
21    citzen10093  Multiple times in a week              A           retired
22    citzen10097              Once a month              A           retired
23    citzen10098       2 - 3 times a month              C           retired
24    citzen10099              Once a month              C  working parttime
25    citzen10100                     Never              D  working fulltime
26    citzen10101                    Rarely              G  working fulltime
27    citzen10105              Once a month              B  working fulltime
28     citzen1011  Multiple times in a week              B           retired
29    citzen10111                       NaN            NaN  working fulltime
...           ...                       ...            ...               ...
3075    citzen986               Occassional              A  working fulltime
3076   citzen9863               Occassional              C  temp not working
3077   citzen9866                    Rarely              G  working fulltime
3078   citzen9873               Once a week              C     keeping house
3079   citzen9874               Once a week              D  working fulltime
3080   citzen9877               Once a week              F           retired
3081   citzen9887               Occassional              A  working fulltime
3082   citzen9890              Once a month              E  working parttime
3083   citzen9894                    Rarely              G     keeping house
3084   citzen9902              Once a month              E  working fulltime
3085   citzen9903              Once a month              B  working parttime
3086   citzen9909                     Never              F           retired
3087    citzen991                    Rarely              F           retired
3088   citzen9923       2 - 3 times a month              F  working fulltime
3089   citzen9927  Multiple times in a week              B     keeping house
3090   citzen9929       2 - 3 times a month              D  working fulltime
3091   citzen9937  Multiple times in a week              B  working fulltime
3092   citzen9938  Multiple times in a week              D  working fulltime
3093   citzen9943       2 - 3 times a month              A  working fulltime
3094   citzen9946               Once a week              D  working fulltime
3095   citzen9948               Occassional              B  working fulltime
3096   citzen9961       2 - 3 times a month              C  working fulltime
3097   citzen9966       2 - 3 times a month              B  working parttime
3098   citzen9971                    Rarely              A  working fulltime
3099   citzen9979              Once a month              C  working fulltime
3100   citzen9980       2 - 3 times a month              E  working fulltime
3101   citzen9988               Once a week              G     keeping house
3102    citzen999              Once a month              C  working fulltime
3103   citzen9993                     Never              D  working fulltime
3104   citzen9998               Occassional              B     keeping house

      score divorce widowed  education residence_region  babies  preteen  \
0      43.0     NaN      no       12.0  e. nor. central     0.0      0.0
1      42.0     yes      no       12.0   south atlantic     0.0      0.0
2      21.0     yes     yes       13.0  e. nor. central     0.0      0.0
3      46.0     yes     NaN       12.0   south atlantic     0.0      0.0
4      36.0     NaN     NaN       12.0   south atlantic     0.0      0.0
5      42.0     NaN     NaN        NaN          foreign     0.0      0.0
6      51.0      no      no       13.0  e. nor. central     1.0      0.0
7      51.0     yes      no       14.0  middle atlantic     0.0      0.0
8      31.0     NaN     NaN       14.0   south atlantic     0.0      2.0
9      22.0     NaN     NaN       11.0  w. sou. central     0.0      0.0
10     39.0     NaN     NaN       12.0  e. nor. central     0.0      0.0
11     23.0      no     NaN        8.0  w. sou. central     0.0      0.0
12     49.0     yes     NaN       14.0  e. nor. central     0.0      0.0
13     41.0     NaN      no       16.0   south atlantic     0.0      0.0
14     50.0      no     NaN       12.0  w. nor. central     0.0      0.0
15     59.0     NaN      no       18.0  w. sou. central     0.0      0.0
16     39.0      no      no       16.0          pacific     0.0      0.0
17     51.0      no      no        9.0          foreign     0.0      0.0
18     22.0     NaN     NaN       19.0  e. nor. central     0.0      0.0
19     42.0     NaN      no        8.0   south atlantic     0.0      0.0
20     60.0     yes     NaN       20.0  w. sou. central     1.0      0.0
21      NaN      no      no        8.0  middle atlantic     0.0      0.0
22     35.0     NaN      no       10.0  middle atlantic     0.0      0.0
23     46.0      no     NaN       13.0  w. sou. central     0.0      0.0
24     51.0     yes     NaN       16.0  e. nor. central     0.0      0.0
25     51.0     NaN     NaN       16.0          pacific     0.0      0.0
26     29.0     NaN     NaN       14.0  w. sou. central     0.0      0.0
27     44.0      no      no       12.0   south atlantic     0.0      0.0
28      NaN      no     NaN       20.0  w. nor. central     0.0      0.0
29     24.0     NaN     NaN       11.0   south atlantic     0.0      0.0
...     ...     ...     ...        ...              ...     ...      ...
3075   65.0     NaN     NaN       16.0         mountain     0.0      2.0
3076   50.0      no      no       14.0          foreign     0.0      3.0
3077   33.0      no      no       16.0  middle atlantic     0.0      0.0
3078   66.0      no     NaN       16.0  middle atlantic     0.0      0.0
3079   30.0     NaN     NaN       13.0          pacific     0.0      0.0
3080   17.0      no      no        8.0  e. sou. central     0.0      0.0
3081   44.0      no      no       14.0         mountain     0.0      0.0
3082   42.0      no      no       14.0  middle atlantic     0.0      0.0
3083   43.0      no      no       12.0   south atlantic     0.0      0.0
3084   44.0     yes      no       16.0         mountain     0.0      0.0
3085   46.0      no      no       12.0   south atlantic     0.0      0.0
3086   66.0      no     NaN       16.0  e. nor. central     0.0      0.0
3087   64.0      no     NaN       18.0  middle atlantic     0.0      0.0
3088   36.0     NaN     NaN       16.0  middle atlantic     0.0      0.0
3089   22.0     NaN      no        9.0  e. sou. central     1.0      0.0
3090   66.0     NaN     NaN       16.0   south atlantic     0.0      0.0
3091   44.0     NaN      no       14.0          pacific     0.0      0.0
3092   39.0     NaN      no        8.0   south atlantic     0.0      0.0
3093   64.0     yes      no       18.0  w. sou. central     0.0      1.0
3094   59.0      no      no       14.0  middle atlantic     0.0      0.0
3095   69.0     NaN      no       20.0  w. nor. central     0.0      0.0
3096   55.0      no      no       14.0  e. nor. central     0.0      0.0
3097   32.0     NaN     NaN       15.0          pacific     0.0      0.0
3098   86.0      no      no       18.0          foreign     0.0      0.0
3099   28.0     NaN     NaN       15.0  middle atlantic     0.0      0.0
3100   51.0     NaN      no       16.0          pacific     0.0      0.0
3101   29.0     NaN     NaN       13.0   south atlantic     0.0      0.0
3102   28.0      no      no       13.0          foreign     0.0      2.0
3103   51.0     NaN     NaN       12.0  e. sou. central     0.0      0.0
3104   24.0      no     NaN        8.0   south atlantic     0.0      0.0

      teens          income engagement_religion  x1  tvhours  gender
0       0.0             NaN         once a year   2      3.0       0
1       0.0  $25000 or more    sevrl times a yr   2      3.0       0
2       0.0  $10000 - 14999               never   3      NaN       1
3       0.0  $25000 or more         once a year   1      1.0       1
4       0.0  $25000 or more               never   2      4.0       0
5       0.0  $25000 or more      lt once a year   1      NaN       1
6       0.0  $25000 or more          every week   3      4.0       0
7       0.0  $25000 or more     nrly every week   2      1.0       0
8       0.0  $25000 or more        2-3x a month   2      1.0       1
9       0.0   $3000 to 3999        2-3x a month   2      5.0       1
10      0.0  $25000 or more      lt once a year   1      NaN       0
11      0.0             NaN    more thn once wk   2      1.0       1
12      0.0  $25000 or more               never   3      NaN       1
13      0.0             NaN                 NaN   1      4.0       0
14      0.0  $25000 or more               never   2      6.0       1
15      0.0  $25000 or more    sevrl times a yr   3      NaN       0
16      0.0  $15000 - 19999      lt once a year   2      2.0       0
17      0.0  $25000 or more               never   1      2.0       0
18      0.0  $25000 or more    more thn once wk   3      NaN       0
19      0.0             NaN                 NaN   1      3.0       1
20      0.0  $25000 or more      lt once a year   3      2.0       0
21      0.0        lt $1000               never   2      6.0       0
22      0.0   $8000 to 9999               never   3      NaN       0
23      0.0             NaN               never   1      2.0       1
24      0.0             NaN               never   1      2.0       1
25      0.0  $25000 or more         once a year   3      3.0       0
26      0.0  $25000 or more        2-3x a month   1      NaN       1
27      2.0  $20000 - 24999          every week   1      6.0       1
28      0.0   $6000 to 6999               never   3      0.0       1
29      0.0  $15000 - 19999        once a month   3      5.0       1
...     ...             ...                 ...  ..      ...     ...
3075    0.0  $25000 or more      lt once a year   3      NaN       0
3076    2.0  $25000 or more          every week   1      3.0       0
3077    0.0  $25000 or more          every week   2      3.0       0
3078    0.0  $25000 or more    more thn once wk   1      4.0       1
3079    0.0  $25000 or more     nrly every week   3      1.0       0
3080    0.0             NaN    more thn once wk   2      1.0       1
3081    1.0  $25000 or more        once a month   2      3.0       1
3082    0.0  $25000 or more          every week   3      NaN       1
3083    1.0  $25000 or more          every week   3      1.0       1
3084    0.0  $25000 or more        once a month   2      3.0       0
3085    0.0  $25000 or more          every week   3      NaN       1
3086    0.0             NaN               never   1      4.0       1
3087    0.0  $20000 - 24999        2-3x a month   1      2.0       1
3088    0.0  $25000 or more               never   1      NaN       1
3089    0.0        lt $1000    sevrl times a yr   3      NaN       1
3090    0.0  $25000 or more    sevrl times a yr   1      NaN       0
3091    0.0  $25000 or more    sevrl times a yr   2      5.0       0
3092    0.0  $25000 or more      lt once a year   3      NaN       0
3093    0.0  $25000 or more         once a year   1      2.0       0
3094    0.0  $25000 or more          every week   2      2.0       1
3095    0.0  $25000 or more        once a month   1      2.0       1
3096    0.0  $25000 or more         once a year   1      NaN       1
3097    0.0   $4000 to 4999      lt once a year   1      4.0       0
3098    2.0  $25000 or more        2-3x a month   2      3.0       0
3099    0.0   $8000 to 9999         once a year   1      2.0       0
3100    0.0  $25000 or more     nrly every week   2      2.0       1
3101    0.0  $25000 or more          every week   1      1.0       0
3102    0.0  $25000 or more    sevrl times a yr   3      2.0       1
3103    0.0  $25000 or more               never   3      NaN       0
3104    0.0   $4000 to 4999     nrly every week   1      NaN       1

[3105 rows x 17 columns]

In [10]:
import pandas as pd
df1=pd.read_csv("test.csv")
print(df1)

               id       alcohol_consumption location_class        workstatus  \
0         citzen1       2 - 3 times a month              A  working fulltime
1       citzen100       2 - 3 times a month            NaN  working fulltime
2     citzen10007               Once a week              B     keeping house
3     citzen10010       2 - 3 times a month              A  working fulltime
4     citzen10023  Multiple times in a week              F  working parttime
5     citzen10039               Occassional              D  working fulltime
6     citzen10046                     Never              A  working fulltime
7      citzen1005               Occassional              D  working fulltime
8     citzen10054                     Never              F  working fulltime
9     citzen10057                    Rarely              E     keeping house
10    citzen10061                     Never              E  working parttime
11    citzen10064                    Rarely              A     keeping house
12    citzen10067                       NaN              F             other
13    citzen10072                    Rarely              F  working fulltime
14    citzen10073                    Rarely              B           retired
15    citzen10076                    Rarely              G  working fulltime
16    citzen10077                     Never              A  working fulltime
17    citzen10079                    Rarely              G  working fulltime
18    citzen10081              Once a month              D  working parttime
19    citzen10083              Once a month              A  working fulltime
20    citzen10084                     Never              C  working fulltime
21    citzen10093  Multiple times in a week              A           retired
22    citzen10097              Once a month              A           retired
23    citzen10098       2 - 3 times a month              C           retired
24    citzen10099              Once a month              C  working parttime
25    citzen10100                     Never              D  working fulltime
26    citzen10101                    Rarely              G  working fulltime
27    citzen10105              Once a month              B  working fulltime
28     citzen1011  Multiple times in a week              B           retired
29    citzen10111                       NaN            NaN  working fulltime
...           ...                       ...            ...               ...
3075    citzen986               Occassional              A  working fulltime
3076   citzen9863               Occassional              C  temp not working
3077   citzen9866                    Rarely              G  working fulltime
3078   citzen9873               Once a week              C     keeping house
3079   citzen9874               Once a week              D  working fulltime
3080   citzen9877               Once a week              F           retired
3081   citzen9887               Occassional              A  working fulltime
3082   citzen9890              Once a month              E  working parttime
3083   citzen9894                    Rarely              G     keeping house
3084   citzen9902              Once a month              E  working fulltime
3085   citzen9903              Once a month              B  working parttime
3086   citzen9909                     Never              F           retired
3087    citzen991                    Rarely              F           retired
3088   citzen9923       2 - 3 times a month              F  working fulltime
3089   citzen9927  Multiple times in a week              B     keeping house
3090   citzen9929       2 - 3 times a month              D  working fulltime
3091   citzen9937  Multiple times in a week              B  working fulltime
3092   citzen9938  Multiple times in a week              D  working fulltime
3093   citzen9943       2 - 3 times a month              A  working fulltime
3094   citzen9946               Once a week              D  working fulltime
3095   citzen9948               Occassional              B  working fulltime
3096   citzen9961       2 - 3 times a month              C  working fulltime
3097   citzen9966       2 - 3 times a month              B  working parttime
3098   citzen9971                    Rarely              A  working fulltime
3099   citzen9979              Once a month              C  working fulltime
3100   citzen9980       2 - 3 times a month              E  working fulltime
3101   citzen9988               Once a week              G     keeping house
3102    citzen999              Once a month              C  working fulltime
3103   citzen9993                     Never              D  working fulltime
3104   citzen9998               Occassional              B     keeping house

      score divorce widowed  education residence_region  babies  preteen  \
0      43.0     NaN      no       12.0  e. nor. central     0.0      0.0
1      42.0     yes      no       12.0   south atlantic     0.0      0.0
2      21.0     yes     yes       13.0  e. nor. central     0.0      0.0
3      46.0     yes     NaN       12.0   south atlantic     0.0      0.0
4      36.0     NaN     NaN       12.0   south atlantic     0.0      0.0
5      42.0     NaN     NaN        NaN          foreign     0.0      0.0
6      51.0      no      no       13.0  e. nor. central     1.0      0.0
7      51.0     yes      no       14.0  middle atlantic     0.0      0.0
8      31.0     NaN     NaN       14.0   south atlantic     0.0      2.0
9      22.0     NaN     NaN       11.0  w. sou. central     0.0      0.0
10     39.0     NaN     NaN       12.0  e. nor. central     0.0      0.0
11     23.0      no     NaN        8.0  w. sou. central     0.0      0.0
12     49.0     yes     NaN       14.0  e. nor. central     0.0      0.0
13     41.0     NaN      no       16.0   south atlantic     0.0      0.0
14     50.0      no     NaN       12.0  w. nor. central     0.0      0.0
15     59.0     NaN      no       18.0  w. sou. central     0.0      0.0
16     39.0      no      no       16.0          pacific     0.0      0.0
17     51.0      no      no        9.0          foreign     0.0      0.0
18     22.0     NaN     NaN       19.0  e. nor. central     0.0      0.0
19     42.0     NaN      no        8.0   south atlantic     0.0      0.0
20     60.0     yes     NaN       20.0  w. sou. central     1.0      0.0
21      NaN      no      no        8.0  middle atlantic     0.0      0.0
22     35.0     NaN      no       10.0  middle atlantic     0.0      0.0
23     46.0      no     NaN       13.0  w. sou. central     0.0      0.0
24     51.0     yes     NaN       16.0  e. nor. central     0.0      0.0
25     51.0     NaN     NaN       16.0          pacific     0.0      0.0
26     29.0     NaN     NaN       14.0  w. sou. central     0.0      0.0
27     44.0      no      no       12.0   south atlantic     0.0      0.0
28      NaN      no     NaN       20.0  w. nor. central     0.0      0.0
29     24.0     NaN     NaN       11.0   south atlantic     0.0      0.0
...     ...     ...     ...        ...              ...     ...      ...
3075   65.0     NaN     NaN       16.0         mountain     0.0      2.0
3076   50.0      no      no       14.0          foreign     0.0      3.0
3077   33.0      no      no       16.0  middle atlantic     0.0      0.0
3078   66.0      no     NaN       16.0  middle atlantic     0.0      0.0
3079   30.0     NaN     NaN       13.0          pacific     0.0      0.0
3080   17.0      no      no        8.0  e. sou. central     0.0      0.0
3081   44.0      no      no       14.0         mountain     0.0      0.0
3082   42.0      no      no       14.0  middle atlantic     0.0      0.0
3083   43.0      no      no       12.0   south atlantic     0.0      0.0
3084   44.0     yes      no       16.0         mountain     0.0      0.0
3085   46.0      no      no       12.0   south atlantic     0.0      0.0
3086   66.0      no     NaN       16.0  e. nor. central     0.0      0.0
3087   64.0      no     NaN       18.0  middle atlantic     0.0      0.0
3088   36.0     NaN     NaN       16.0  middle atlantic     0.0      0.0
3089   22.0     NaN      no        9.0  e. sou. central     1.0      0.0
3090   66.0     NaN     NaN       16.0   south atlantic     0.0      0.0
3091   44.0     NaN      no       14.0          pacific     0.0      0.0
3092   39.0     NaN      no        8.0   south atlantic     0.0      0.0
3093   64.0     yes      no       18.0  w. sou. central     0.0      1.0
3094   59.0      no      no       14.0  middle atlantic     0.0      0.0
3095   69.0     NaN      no       20.0  w. nor. central     0.0      0.0
3096   55.0      no      no       14.0  e. nor. central     0.0      0.0
3097   32.0     NaN     NaN       15.0          pacific     0.0      0.0
3098   86.0      no      no       18.0          foreign     0.0      0.0
3099   28.0     NaN     NaN       15.0  middle atlantic     0.0      0.0
3100   51.0     NaN      no       16.0          pacific     0.0      0.0
3101   29.0     NaN     NaN       13.0   south atlantic     0.0      0.0
3102   28.0      no      no       13.0          foreign     0.0      2.0
3103   51.0     NaN     NaN       12.0  e. sou. central     0.0      0.0
3104   24.0      no     NaN        8.0   south atlantic     0.0      0.0

      teens          income engagement_religion  x1  tvhours  gender
0       0.0             NaN         once a year   2      3.0       0
1       0.0  $25000 or more    sevrl times a yr   2      3.0       0
2       0.0  $10000 - 14999               never   3      NaN       1
3       0.0  $25000 or more         once a year   1      1.0       1
4       0.0  $25000 or more               never   2      4.0       0
5       0.0  $25000 or more      lt once a year   1      NaN       1
6       0.0  $25000 or more          every week   3      4.0       0
7       0.0  $25000 or more     nrly every week   2      1.0       0
8       0.0  $25000 or more        2-3x a month   2      1.0       1
9       0.0   $3000 to 3999        2-3x a month   2      5.0       1
10      0.0  $25000 or more      lt once a year   1      NaN       0
11      0.0             NaN    more thn once wk   2      1.0       1
12      0.0  $25000 or more               never   3      NaN       1
13      0.0             NaN                 NaN   1      4.0       0
14      0.0  $25000 or more               never   2      6.0       1
15      0.0  $25000 or more    sevrl times a yr   3      NaN       0
16      0.0  $15000 - 19999      lt once a year   2      2.0       0
17      0.0  $25000 or more               never   1      2.0       0
18      0.0  $25000 or more    more thn once wk   3      NaN       0
19      0.0             NaN                 NaN   1      3.0       1
20      0.0  $25000 or more      lt once a year   3      2.0       0
21      0.0        lt $1000               never   2      6.0       0
22      0.0   $8000 to 9999               never   3      NaN       0
23      0.0             NaN               never   1      2.0       1
24      0.0             NaN               never   1      2.0       1
25      0.0  $25000 or more         once a year   3      3.0       0
26      0.0  $25000 or more        2-3x a month   1      NaN       1
27      2.0  $20000 - 24999          every week   1      6.0       1
28      0.0   $6000 to 6999               never   3      0.0       1
29      0.0  $15000 - 19999        once a month   3      5.0       1
...     ...             ...                 ...  ..      ...     ...
3075    0.0  $25000 or more      lt once a year   3      NaN       0
3076    2.0  $25000 or more          every week   1      3.0       0
3077    0.0  $25000 or more          every week   2      3.0       0
3078    0.0  $25000 or more    more thn once wk   1      4.0       1
3079    0.0  $25000 or more     nrly every week   3      1.0       0
3080    0.0             NaN    more thn once wk   2      1.0       1
3081    1.0  $25000 or more        once a month   2      3.0       1
3082    0.0  $25000 or more          every week   3      NaN       1
3083    1.0  $25000 or more          every week   3      1.0       1
3084    0.0  $25000 or more        once a month   2      3.0       0
3085    0.0  $25000 or more          every week   3      NaN       1
3086    0.0             NaN               never   1      4.0       1
3087    0.0  $20000 - 24999        2-3x a month   1      2.0       1
3088    0.0  $25000 or more               never   1      NaN       1
3089    0.0        lt $1000    sevrl times a yr   3      NaN       1
3090    0.0  $25000 or more    sevrl times a yr   1      NaN       0
3091    0.0  $25000 or more    sevrl times a yr   2      5.0       0
3092    0.0  $25000 or more      lt once a year   3      NaN       0
3093    0.0  $25000 or more         once a year   1      2.0       0
3094    0.0  $25000 or more          every week   2      2.0       1
3095    0.0  $25000 or more        once a month   1      2.0       1
3096    0.0  $25000 or more         once a year   1      NaN       1
3097    0.0   $4000 to 4999      lt once a year   1      4.0       0
3098    2.0  $25000 or more        2-3x a month   2      3.0       0
3099    0.0   $8000 to 9999         once a year   1      2.0       0
3100    0.0  $25000 or more     nrly every week   2      2.0       1
3101    0.0  $25000 or more          every week   1      1.0       0
3102    0.0  $25000 or more    sevrl times a yr   3      2.0       1
3103    0.0  $25000 or more               never   3      NaN       0
3104    0.0   $4000 to 4999     nrly every week   1      NaN       1

[3105 rows x 17 columns]

In [15]:
dx=pd.Series.unique(df1['residence_region'])
print (dx)

['e. nor. central' 'south atlantic' 'foreign' 'middle atlantic'
 'w. sou. central' 'w. nor. central' 'pacific' 'mountain' 'new england'
 'e. sou. central']

In [27]:
df1.widowed.replace( (1, 0),('yes', 'no'), inplace=True)
print(df1)

               id       alcohol_consumption location_class        workstatus  \
0         citzen1       2 - 3 times a month              A  working fulltime
1       citzen100       2 - 3 times a month            NaN  working fulltime
2     citzen10007               Once a week              B     keeping house
3     citzen10010       2 - 3 times a month              A  working fulltime
4     citzen10023  Multiple times in a week              F  working parttime
5     citzen10039               Occassional              D  working fulltime
6     citzen10046                     Never              A  working fulltime
7      citzen1005               Occassional              D  working fulltime
8     citzen10054                     Never              F  working fulltime
9     citzen10057                    Rarely              E     keeping house
10    citzen10061                     Never              E  working parttime
11    citzen10064                    Rarely              A     keeping house
12    citzen10067                       NaN              F             other
13    citzen10072                    Rarely              F  working fulltime
14    citzen10073                    Rarely              B           retired
15    citzen10076                    Rarely              G  working fulltime
16    citzen10077                     Never              A  working fulltime
17    citzen10079                    Rarely              G  working fulltime
18    citzen10081              Once a month              D  working parttime
19    citzen10083              Once a month              A  working fulltime
20    citzen10084                     Never              C  working fulltime
21    citzen10093  Multiple times in a week              A           retired
22    citzen10097              Once a month              A           retired
23    citzen10098       2 - 3 times a month              C           retired
24    citzen10099              Once a month              C  working parttime
25    citzen10100                     Never              D  working fulltime
26    citzen10101                    Rarely              G  working fulltime
27    citzen10105              Once a month              B  working fulltime
28     citzen1011  Multiple times in a week              B           retired
29    citzen10111                       NaN            NaN  working fulltime
...           ...                       ...            ...               ...
3075    citzen986               Occassional              A  working fulltime
3076   citzen9863               Occassional              C  temp not working
3077   citzen9866                    Rarely              G  working fulltime
3078   citzen9873               Once a week              C     keeping house
3079   citzen9874               Once a week              D  working fulltime
3080   citzen9877               Once a week              F           retired
3081   citzen9887               Occassional              A  working fulltime
3082   citzen9890              Once a month              E  working parttime
3083   citzen9894                    Rarely              G     keeping house
3084   citzen9902              Once a month              E  working fulltime
3085   citzen9903              Once a month              B  working parttime
3086   citzen9909                     Never              F           retired
3087    citzen991                    Rarely              F           retired
3088   citzen9923       2 - 3 times a month              F  working fulltime
3089   citzen9927  Multiple times in a week              B     keeping house
3090   citzen9929       2 - 3 times a month              D  working fulltime
3091   citzen9937  Multiple times in a week              B  working fulltime
3092   citzen9938  Multiple times in a week              D  working fulltime
3093   citzen9943       2 - 3 times a month              A  working fulltime
3094   citzen9946               Once a week              D  working fulltime
3095   citzen9948               Occassional              B  working fulltime
3096   citzen9961       2 - 3 times a month              C  working fulltime
3097   citzen9966       2 - 3 times a month              B  working parttime
3098   citzen9971                    Rarely              A  working fulltime
3099   citzen9979              Once a month              C  working fulltime
3100   citzen9980       2 - 3 times a month              E  working fulltime
3101   citzen9988               Once a week              G     keeping house
3102    citzen999              Once a month              C  working fulltime
3103   citzen9993                     Never              D  working fulltime
3104   citzen9998               Occassional              B     keeping house

      score divorce widowed  education residence_region  babies  preteen  \
0      43.0     NaN      no       12.0  e. nor. central     0.0      0.0
1      42.0     yes      no       12.0   south atlantic     0.0      0.0
2      21.0     yes     yes       13.0  e. nor. central     0.0      0.0
3      46.0     yes     NaN       12.0   south atlantic     0.0      0.0
4      36.0     NaN     NaN       12.0   south atlantic     0.0      0.0
5      42.0     NaN     NaN        NaN          foreign     0.0      0.0
6      51.0      no      no       13.0  e. nor. central     1.0      0.0
7      51.0     yes      no       14.0  middle atlantic     0.0      0.0
8      31.0     NaN     NaN       14.0   south atlantic     0.0      2.0
9      22.0     NaN     NaN       11.0  w. sou. central     0.0      0.0
10     39.0     NaN     NaN       12.0  e. nor. central     0.0      0.0
11     23.0      no     NaN        8.0  w. sou. central     0.0      0.0
12     49.0     yes     NaN       14.0  e. nor. central     0.0      0.0
13     41.0     NaN      no       16.0   south atlantic     0.0      0.0
14     50.0      no     NaN       12.0  w. nor. central     0.0      0.0
15     59.0     NaN      no       18.0  w. sou. central     0.0      0.0
16     39.0      no      no       16.0          pacific     0.0      0.0
17     51.0      no      no        9.0          foreign     0.0      0.0
18     22.0     NaN     NaN       19.0  e. nor. central     0.0      0.0
19     42.0     NaN      no        8.0   south atlantic     0.0      0.0
20     60.0     yes     NaN       20.0  w. sou. central     1.0      0.0
21      NaN      no      no        8.0  middle atlantic     0.0      0.0
22     35.0     NaN      no       10.0  middle atlantic     0.0      0.0
23     46.0      no     NaN       13.0  w. sou. central     0.0      0.0
24     51.0     yes     NaN       16.0  e. nor. central     0.0      0.0
25     51.0     NaN     NaN       16.0          pacific     0.0      0.0
26     29.0     NaN     NaN       14.0  w. sou. central     0.0      0.0
27     44.0      no      no       12.0   south atlantic     0.0      0.0
28      NaN      no     NaN       20.0  w. nor. central     0.0      0.0
29     24.0     NaN     NaN       11.0   south atlantic     0.0      0.0
...     ...     ...     ...        ...              ...     ...      ...
3075   65.0     NaN     NaN       16.0         mountain     0.0      2.0
3076   50.0      no      no       14.0          foreign     0.0      3.0
3077   33.0      no      no       16.0  middle atlantic     0.0      0.0
3078   66.0      no     NaN       16.0  middle atlantic     0.0      0.0
3079   30.0     NaN     NaN       13.0          pacific     0.0      0.0
3080   17.0      no      no        8.0  e. sou. central     0.0      0.0
3081   44.0      no      no       14.0         mountain     0.0      0.0
3082   42.0      no      no       14.0  middle atlantic     0.0      0.0
3083   43.0      no      no       12.0   south atlantic     0.0      0.0
3084   44.0     yes      no       16.0         mountain     0.0      0.0
3085   46.0      no      no       12.0   south atlantic     0.0      0.0
3086   66.0      no     NaN       16.0  e. nor. central     0.0      0.0
3087   64.0      no     NaN       18.0  middle atlantic     0.0      0.0
3088   36.0     NaN     NaN       16.0  middle atlantic     0.0      0.0
3089   22.0     NaN      no        9.0  e. sou. central     1.0      0.0
3090   66.0     NaN     NaN       16.0   south atlantic     0.0      0.0
3091   44.0     NaN      no       14.0          pacific     0.0      0.0
3092   39.0     NaN      no        8.0   south atlantic     0.0      0.0
3093   64.0     yes      no       18.0  w. sou. central     0.0      1.0
3094   59.0      no      no       14.0  middle atlantic     0.0      0.0
3095   69.0     NaN      no       20.0  w. nor. central     0.0      0.0
3096   55.0      no      no       14.0  e. nor. central     0.0      0.0
3097   32.0     NaN     NaN       15.0          pacific     0.0      0.0
3098   86.0      no      no       18.0          foreign     0.0      0.0
3099   28.0     NaN     NaN       15.0  middle atlantic     0.0      0.0
3100   51.0     NaN      no       16.0          pacific     0.0      0.0
3101   29.0     NaN     NaN       13.0   south atlantic     0.0      0.0
3102   28.0      no      no       13.0          foreign     0.0      2.0
3103   51.0     NaN     NaN       12.0  e. sou. central     0.0      0.0
3104   24.0      no     NaN        8.0   south atlantic     0.0      0.0

      teens          income engagement_religion  x1  tvhours  gender
0       0.0             NaN         once a year   2      3.0       0
1       0.0  $25000 or more    sevrl times a yr   2      3.0       0
2       0.0  $10000 - 14999               never   3      NaN       1
3       0.0  $25000 or more         once a year   1      1.0       1
4       0.0  $25000 or more               never   2      4.0       0
5       0.0  $25000 or more      lt once a year   1      NaN       1
6       0.0  $25000 or more          every week   3      4.0       0
7       0.0  $25000 or more     nrly every week   2      1.0       0
8       0.0  $25000 or more        2-3x a month   2      1.0       1
9       0.0   $3000 to 3999        2-3x a month   2      5.0       1
10      0.0  $25000 or more      lt once a year   1      NaN       0
11      0.0             NaN    more thn once wk   2      1.0       1
12      0.0  $25000 or more               never   3      NaN       1
13      0.0             NaN                 NaN   1      4.0       0
14      0.0  $25000 or more               never   2      6.0       1
15      0.0  $25000 or more    sevrl times a yr   3      NaN       0
16      0.0  $15000 - 19999      lt once a year   2      2.0       0
17      0.0  $25000 or more               never   1      2.0       0
18      0.0  $25000 or more    more thn once wk   3      NaN       0
19      0.0             NaN                 NaN   1      3.0       1
20      0.0  $25000 or more      lt once a year   3      2.0       0
21      0.0        lt $1000               never   2      6.0       0
22      0.0   $8000 to 9999               never   3      NaN       0
23      0.0             NaN               never   1      2.0       1
24      0.0             NaN               never   1      2.0       1
25      0.0  $25000 or more         once a year   3      3.0       0
26      0.0  $25000 or more        2-3x a month   1      NaN       1
27      2.0  $20000 - 24999          every week   1      6.0       1
28      0.0   $6000 to 6999               never   3      0.0       1
29      0.0  $15000 - 19999        once a month   3      5.0       1
...     ...             ...                 ...  ..      ...     ...
3075    0.0  $25000 or more      lt once a year   3      NaN       0
3076    2.0  $25000 or more          every week   1      3.0       0
3077    0.0  $25000 or more          every week   2      3.0       0
3078    0.0  $25000 or more    more thn once wk   1      4.0       1
3079    0.0  $25000 or more     nrly every week   3      1.0       0
3080    0.0             NaN    more thn once wk   2      1.0       1
3081    1.0  $25000 or more        once a month   2      3.0       1
3082    0.0  $25000 or more          every week   3      NaN       1
3083    1.0  $25000 or more          every week   3      1.0       1
3084    0.0  $25000 or more        once a month   2      3.0       0
3085    0.0  $25000 or more          every week   3      NaN       1
3086    0.0             NaN               never   1      4.0       1
3087    0.0  $20000 - 24999        2-3x a month   1      2.0       1
3088    0.0  $25000 or more               never   1      NaN       1
3089    0.0        lt $1000    sevrl times a yr   3      NaN       1
3090    0.0  $25000 or more    sevrl times a yr   1      NaN       0
3091    0.0  $25000 or more    sevrl times a yr   2      5.0       0
3092    0.0  $25000 or more      lt once a year   3      NaN       0
3093    0.0  $25000 or more         once a year   1      2.0       0
3094    0.0  $25000 or more          every week   2      2.0       1
3095    0.0  $25000 or more        once a month   1      2.0       1
3096    0.0  $25000 or more         once a year   1      NaN       1
3097    0.0   $4000 to 4999      lt once a year   1      4.0       0
3098    2.0  $25000 or more        2-3x a month   2      3.0       0
3099    0.0   $8000 to 9999         once a year   1      2.0       0
3100    0.0  $25000 or more     nrly every week   2      2.0       1
3101    0.0  $25000 or more          every week   1      1.0       0
3102    0.0  $25000 or more    sevrl times a yr   3      2.0       1
3103    0.0  $25000 or more               never   3      NaN       0
3104    0.0   $4000 to 4999     nrly every week   1      NaN       1

[3105 rows x 17 columns]

In [30]:
df1['widowed']=df1['widowed'].fillna(0)
print(df1)

               id       alcohol_consumption location_class        workstatus  \
0         citzen1       2 - 3 times a month              A  working fulltime
1       citzen100       2 - 3 times a month            NaN  working fulltime
2     citzen10007               Once a week              B     keeping house
3     citzen10010       2 - 3 times a month              A  working fulltime
4     citzen10023  Multiple times in a week              F  working parttime
5     citzen10039               Occassional              D  working fulltime
6     citzen10046                     Never              A  working fulltime
7      citzen1005               Occassional              D  working fulltime
8     citzen10054                     Never              F  working fulltime
9     citzen10057                    Rarely              E     keeping house
10    citzen10061                     Never              E  working parttime
11    citzen10064                    Rarely              A     keeping house
12    citzen10067                       NaN              F             other
13    citzen10072                    Rarely              F  working fulltime
14    citzen10073                    Rarely              B           retired
15    citzen10076                    Rarely              G  working fulltime
16    citzen10077                     Never              A  working fulltime
17    citzen10079                    Rarely              G  working fulltime
18    citzen10081              Once a month              D  working parttime
19    citzen10083              Once a month              A  working fulltime
20    citzen10084                     Never              C  working fulltime
21    citzen10093  Multiple times in a week              A           retired
22    citzen10097              Once a month              A           retired
23    citzen10098       2 - 3 times a month              C           retired
24    citzen10099              Once a month              C  working parttime
25    citzen10100                     Never              D  working fulltime
26    citzen10101                    Rarely              G  working fulltime
27    citzen10105              Once a month              B  working fulltime
28     citzen1011  Multiple times in a week              B           retired
29    citzen10111                       NaN            NaN  working fulltime
...           ...                       ...            ...               ...
3075    citzen986               Occassional              A  working fulltime
3076   citzen9863               Occassional              C  temp not working
3077   citzen9866                    Rarely              G  working fulltime
3078   citzen9873               Once a week              C     keeping house
3079   citzen9874               Once a week              D  working fulltime
3080   citzen9877               Once a week              F           retired
3081   citzen9887               Occassional              A  working fulltime
3082   citzen9890              Once a month              E  working parttime
3083   citzen9894                    Rarely              G     keeping house
3084   citzen9902              Once a month              E  working fulltime
3085   citzen9903              Once a month              B  working parttime
3086   citzen9909                     Never              F           retired
3087    citzen991                    Rarely              F           retired
3088   citzen9923       2 - 3 times a month              F  working fulltime
3089   citzen9927  Multiple times in a week              B     keeping house
3090   citzen9929       2 - 3 times a month              D  working fulltime
3091   citzen9937  Multiple times in a week              B  working fulltime
3092   citzen9938  Multiple times in a week              D  working fulltime
3093   citzen9943       2 - 3 times a month              A  working fulltime
3094   citzen9946               Once a week              D  working fulltime
3095   citzen9948               Occassional              B  working fulltime
3096   citzen9961       2 - 3 times a month              C  working fulltime
3097   citzen9966       2 - 3 times a month              B  working parttime
3098   citzen9971                    Rarely              A  working fulltime
3099   citzen9979              Once a month              C  working fulltime
3100   citzen9980       2 - 3 times a month              E  working fulltime
3101   citzen9988               Once a week              G     keeping house
3102    citzen999              Once a month              C  working fulltime
3103   citzen9993                     Never              D  working fulltime
3104   citzen9998               Occassional              B     keeping house

      score divorce widowed  education residence_region  babies  preteen  \
0      43.0     NaN      no       12.0  e. nor. central     0.0      0.0
1      42.0     yes      no       12.0   south atlantic     0.0      0.0
2      21.0     yes     yes       13.0  e. nor. central     0.0      0.0
3      46.0     yes       0       12.0   south atlantic     0.0      0.0
4      36.0     NaN       0       12.0   south atlantic     0.0      0.0
5      42.0     NaN       0        NaN          foreign     0.0      0.0
6      51.0      no      no       13.0  e. nor. central     1.0      0.0
7      51.0     yes      no       14.0  middle atlantic     0.0      0.0
8      31.0     NaN       0       14.0   south atlantic     0.0      2.0
9      22.0     NaN       0       11.0  w. sou. central     0.0      0.0
10     39.0     NaN       0       12.0  e. nor. central     0.0      0.0
11     23.0      no       0        8.0  w. sou. central     0.0      0.0
12     49.0     yes       0       14.0  e. nor. central     0.0      0.0
13     41.0     NaN      no       16.0   south atlantic     0.0      0.0
14     50.0      no       0       12.0  w. nor. central     0.0      0.0
15     59.0     NaN      no       18.0  w. sou. central     0.0      0.0
16     39.0      no      no       16.0          pacific     0.0      0.0
17     51.0      no      no        9.0          foreign     0.0      0.0
18     22.0     NaN       0       19.0  e. nor. central     0.0      0.0
19     42.0     NaN      no        8.0   south atlantic     0.0      0.0
20     60.0     yes       0       20.0  w. sou. central     1.0      0.0
21      NaN      no      no        8.0  middle atlantic     0.0      0.0
22     35.0     NaN      no       10.0  middle atlantic     0.0      0.0
23     46.0      no       0       13.0  w. sou. central     0.0      0.0
24     51.0     yes       0       16.0  e. nor. central     0.0      0.0
25     51.0     NaN       0       16.0          pacific     0.0      0.0
26     29.0     NaN       0       14.0  w. sou. central     0.0      0.0
27     44.0      no      no       12.0   south atlantic     0.0      0.0
28      NaN      no       0       20.0  w. nor. central     0.0      0.0
29     24.0     NaN       0       11.0   south atlantic     0.0      0.0
...     ...     ...     ...        ...              ...     ...      ...
3075   65.0     NaN       0       16.0         mountain     0.0      2.0
3076   50.0      no      no       14.0          foreign     0.0      3.0
3077   33.0      no      no       16.0  middle atlantic     0.0      0.0
3078   66.0      no       0       16.0  middle atlantic     0.0      0.0
3079   30.0     NaN       0       13.0          pacific     0.0      0.0
3080   17.0      no      no        8.0  e. sou. central     0.0      0.0
3081   44.0      no      no       14.0         mountain     0.0      0.0
3082   42.0      no      no       14.0  middle atlantic     0.0      0.0
3083   43.0      no      no       12.0   south atlantic     0.0      0.0
3084   44.0     yes      no       16.0         mountain     0.0      0.0
3085   46.0      no      no       12.0   south atlantic     0.0      0.0
3086   66.0      no       0       16.0  e. nor. central     0.0      0.0
3087   64.0      no       0       18.0  middle atlantic     0.0      0.0
3088   36.0     NaN       0       16.0  middle atlantic     0.0      0.0
3089   22.0     NaN      no        9.0  e. sou. central     1.0      0.0
3090   66.0     NaN       0       16.0   south atlantic     0.0      0.0
3091   44.0     NaN      no       14.0          pacific     0.0      0.0
3092   39.0     NaN      no        8.0   south atlantic     0.0      0.0
3093   64.0     yes      no       18.0  w. sou. central     0.0      1.0
3094   59.0      no      no       14.0  middle atlantic     0.0      0.0
3095   69.0     NaN      no       20.0  w. nor. central     0.0      0.0
3096   55.0      no      no       14.0  e. nor. central     0.0      0.0
3097   32.0     NaN       0       15.0          pacific     0.0      0.0
3098   86.0      no      no       18.0          foreign     0.0      0.0
3099   28.0     NaN       0       15.0  middle atlantic     0.0      0.0
3100   51.0     NaN      no       16.0          pacific     0.0      0.0
3101   29.0     NaN       0       13.0   south atlantic     0.0      0.0
3102   28.0      no      no       13.0          foreign     0.0      2.0
3103   51.0     NaN       0       12.0  e. sou. central     0.0      0.0
3104   24.0      no       0        8.0   south atlantic     0.0      0.0

      teens          income engagement_religion  x1  tvhours  gender
0       0.0             NaN         once a year   2      3.0       0
1       0.0  $25000 or more    sevrl times a yr   2      3.0       0
2       0.0  $10000 - 14999               never   3      NaN       1
3       0.0  $25000 or more         once a year   1      1.0       1
4       0.0  $25000 or more               never   2      4.0       0
5       0.0  $25000 or more      lt once a year   1      NaN       1
6       0.0  $25000 or more          every week   3      4.0       0
7       0.0  $25000 or more     nrly every week   2      1.0       0
8       0.0  $25000 or more        2-3x a month   2      1.0       1
9       0.0   $3000 to 3999        2-3x a month   2      5.0       1
10      0.0  $25000 or more      lt once a year   1      NaN       0
11      0.0             NaN    more thn once wk   2      1.0       1
12      0.0  $25000 or more               never   3      NaN       1
13      0.0             NaN                 NaN   1      4.0       0
14      0.0  $25000 or more               never   2      6.0       1
15      0.0  $25000 or more    sevrl times a yr   3      NaN       0
16      0.0  $15000 - 19999      lt once a year   2      2.0       0
17      0.0  $25000 or more               never   1      2.0       0
18      0.0  $25000 or more    more thn once wk   3      NaN       0
19      0.0             NaN                 NaN   1      3.0       1
20      0.0  $25000 or more      lt once a year   3      2.0       0
21      0.0        lt $1000               never   2      6.0       0
22      0.0   $8000 to 9999               never   3      NaN       0
23      0.0             NaN               never   1      2.0       1
24      0.0             NaN               never   1      2.0       1
25      0.0  $25000 or more         once a year   3      3.0       0
26      0.0  $25000 or more        2-3x a month   1      NaN       1
27      2.0  $20000 - 24999          every week   1      6.0       1
28      0.0   $6000 to 6999               never   3      0.0       1
29      0.0  $15000 - 19999        once a month   3      5.0       1
...     ...             ...                 ...  ..      ...     ...
3075    0.0  $25000 or more      lt once a year   3      NaN       0
3076    2.0  $25000 or more          every week   1      3.0       0
3077    0.0  $25000 or more          every week   2      3.0       0
3078    0.0  $25000 or more    more thn once wk   1      4.0       1
3079    0.0  $25000 or more     nrly every week   3      1.0       0
3080    0.0             NaN    more thn once wk   2      1.0       1
3081    1.0  $25000 or more        once a month   2      3.0       1
3082    0.0  $25000 or more          every week   3      NaN       1
3083    1.0  $25000 or more          every week   3      1.0       1
3084    0.0  $25000 or more        once a month   2      3.0       0
3085    0.0  $25000 or more          every week   3      NaN       1
3086    0.0             NaN               never   1      4.0       1
3087    0.0  $20000 - 24999        2-3x a month   1      2.0       1
3088    0.0  $25000 or more               never   1      NaN       1
3089    0.0        lt $1000    sevrl times a yr   3      NaN       1
3090    0.0  $25000 or more    sevrl times a yr   1      NaN       0
3091    0.0  $25000 or more    sevrl times a yr   2      5.0       0
3092    0.0  $25000 or more      lt once a year   3      NaN       0
3093    0.0  $25000 or more         once a year   1      2.0       0
3094    0.0  $25000 or more          every week   2      2.0       1
3095    0.0  $25000 or more        once a month   1      2.0       1
3096    0.0  $25000 or more         once a year   1      NaN       1
3097    0.0   $4000 to 4999      lt once a year   1      4.0       0
3098    2.0  $25000 or more        2-3x a month   2      3.0       0
3099    0.0   $8000 to 9999         once a year   1      2.0       0
3100    0.0  $25000 or more     nrly every week   2      2.0       1
3101    0.0  $25000 or more          every week   1      1.0       0
3102    0.0  $25000 or more    sevrl times a yr   3      2.0       1
3103    0.0  $25000 or more               never   3      NaN       0
3104    0.0   $4000 to 4999     nrly every week   1      NaN       1

[3105 rows x 17 columns]

In [31]:
df1.widowed.replace( ('yes', 'no'),(1, -1), inplace=True)
print(df1)

               id       alcohol_consumption location_class        workstatus  \
0         citzen1       2 - 3 times a month              A  working fulltime
1       citzen100       2 - 3 times a month            NaN  working fulltime
2     citzen10007               Once a week              B     keeping house
3     citzen10010       2 - 3 times a month              A  working fulltime
4     citzen10023  Multiple times in a week              F  working parttime
5     citzen10039               Occassional              D  working fulltime
6     citzen10046                     Never              A  working fulltime
7      citzen1005               Occassional              D  working fulltime
8     citzen10054                     Never              F  working fulltime
9     citzen10057                    Rarely              E     keeping house
10    citzen10061                     Never              E  working parttime
11    citzen10064                    Rarely              A     keeping house
12    citzen10067                       NaN              F             other
13    citzen10072                    Rarely              F  working fulltime
14    citzen10073                    Rarely              B           retired
15    citzen10076                    Rarely              G  working fulltime
16    citzen10077                     Never              A  working fulltime
17    citzen10079                    Rarely              G  working fulltime
18    citzen10081              Once a month              D  working parttime
19    citzen10083              Once a month              A  working fulltime
20    citzen10084                     Never              C  working fulltime
21    citzen10093  Multiple times in a week              A           retired
22    citzen10097              Once a month              A           retired
23    citzen10098       2 - 3 times a month              C           retired
24    citzen10099              Once a month              C  working parttime
25    citzen10100                     Never              D  working fulltime
26    citzen10101                    Rarely              G  working fulltime
27    citzen10105              Once a month              B  working fulltime
28     citzen1011  Multiple times in a week              B           retired
29    citzen10111                       NaN            NaN  working fulltime
...           ...                       ...            ...               ...
3075    citzen986               Occassional              A  working fulltime
3076   citzen9863               Occassional              C  temp not working
3077   citzen9866                    Rarely              G  working fulltime
3078   citzen9873               Once a week              C     keeping house
3079   citzen9874               Once a week              D  working fulltime
3080   citzen9877               Once a week              F           retired
3081   citzen9887               Occassional              A  working fulltime
3082   citzen9890              Once a month              E  working parttime
3083   citzen9894                    Rarely              G     keeping house
3084   citzen9902              Once a month              E  working fulltime
3085   citzen9903              Once a month              B  working parttime
3086   citzen9909                     Never              F           retired
3087    citzen991                    Rarely              F           retired
3088   citzen9923       2 - 3 times a month              F  working fulltime
3089   citzen9927  Multiple times in a week              B     keeping house
3090   citzen9929       2 - 3 times a month              D  working fulltime
3091   citzen9937  Multiple times in a week              B  working fulltime
3092   citzen9938  Multiple times in a week              D  working fulltime
3093   citzen9943       2 - 3 times a month              A  working fulltime
3094   citzen9946               Once a week              D  working fulltime
3095   citzen9948               Occassional              B  working fulltime
3096   citzen9961       2 - 3 times a month              C  working fulltime
3097   citzen9966       2 - 3 times a month              B  working parttime
3098   citzen9971                    Rarely              A  working fulltime
3099   citzen9979              Once a month              C  working fulltime
3100   citzen9980       2 - 3 times a month              E  working fulltime
3101   citzen9988               Once a week              G     keeping house
3102    citzen999              Once a month              C  working fulltime
3103   citzen9993                     Never              D  working fulltime
3104   citzen9998               Occassional              B     keeping house

      score divorce  widowed  education residence_region  babies  preteen  \
0      43.0     NaN       -1       12.0  e. nor. central     0.0      0.0
1      42.0     yes       -1       12.0   south atlantic     0.0      0.0
2      21.0     yes        1       13.0  e. nor. central     0.0      0.0
3      46.0     yes        0       12.0   south atlantic     0.0      0.0
4      36.0     NaN        0       12.0   south atlantic     0.0      0.0
5      42.0     NaN        0        NaN          foreign     0.0      0.0
6      51.0      no       -1       13.0  e. nor. central     1.0      0.0
7      51.0     yes       -1       14.0  middle atlantic     0.0      0.0
8      31.0     NaN        0       14.0   south atlantic     0.0      2.0
9      22.0     NaN        0       11.0  w. sou. central     0.0      0.0
10     39.0     NaN        0       12.0  e. nor. central     0.0      0.0
11     23.0      no        0        8.0  w. sou. central     0.0      0.0
12     49.0     yes        0       14.0  e. nor. central     0.0      0.0
13     41.0     NaN       -1       16.0   south atlantic     0.0      0.0
14     50.0      no        0       12.0  w. nor. central     0.0      0.0
15     59.0     NaN       -1       18.0  w. sou. central     0.0      0.0
16     39.0      no       -1       16.0          pacific     0.0      0.0
17     51.0      no       -1        9.0          foreign     0.0      0.0
18     22.0     NaN        0       19.0  e. nor. central     0.0      0.0
19     42.0     NaN       -1        8.0   south atlantic     0.0      0.0
20     60.0     yes        0       20.0  w. sou. central     1.0      0.0
21      NaN      no       -1        8.0  middle atlantic     0.0      0.0
22     35.0     NaN       -1       10.0  middle atlantic     0.0      0.0
23     46.0      no        0       13.0  w. sou. central     0.0      0.0
24     51.0     yes        0       16.0  e. nor. central     0.0      0.0
25     51.0     NaN        0       16.0          pacific     0.0      0.0
26     29.0     NaN        0       14.0  w. sou. central     0.0      0.0
27     44.0      no       -1       12.0   south atlantic     0.0      0.0
28      NaN      no        0       20.0  w. nor. central     0.0      0.0
29     24.0     NaN        0       11.0   south atlantic     0.0      0.0
...     ...     ...      ...        ...              ...     ...      ...
3075   65.0     NaN        0       16.0         mountain     0.0      2.0
3076   50.0      no       -1       14.0          foreign     0.0      3.0
3077   33.0      no       -1       16.0  middle atlantic     0.0      0.0
3078   66.0      no        0       16.0  middle atlantic     0.0      0.0
3079   30.0     NaN        0       13.0          pacific     0.0      0.0
3080   17.0      no       -1        8.0  e. sou. central     0.0      0.0
3081   44.0      no       -1       14.0         mountain     0.0      0.0
3082   42.0      no       -1       14.0  middle atlantic     0.0      0.0
3083   43.0      no       -1       12.0   south atlantic     0.0      0.0
3084   44.0     yes       -1       16.0         mountain     0.0      0.0
3085   46.0      no       -1       12.0   south atlantic     0.0      0.0
3086   66.0      no        0       16.0  e. nor. central     0.0      0.0
3087   64.0      no        0       18.0  middle atlantic     0.0      0.0
3088   36.0     NaN        0       16.0  middle atlantic     0.0      0.0
3089   22.0     NaN       -1        9.0  e. sou. central     1.0      0.0
3090   66.0     NaN        0       16.0   south atlantic     0.0      0.0
3091   44.0     NaN       -1       14.0          pacific     0.0      0.0
3092   39.0     NaN       -1        8.0   south atlantic     0.0      0.0
3093   64.0     yes       -1       18.0  w. sou. central     0.0      1.0
3094   59.0      no       -1       14.0  middle atlantic     0.0      0.0
3095   69.0     NaN       -1       20.0  w. nor. central     0.0      0.0
3096   55.0      no       -1       14.0  e. nor. central     0.0      0.0
3097   32.0     NaN        0       15.0          pacific     0.0      0.0
3098   86.0      no       -1       18.0          foreign     0.0      0.0
3099   28.0     NaN        0       15.0  middle atlantic     0.0      0.0
3100   51.0     NaN       -1       16.0          pacific     0.0      0.0
3101   29.0     NaN        0       13.0   south atlantic     0.0      0.0
3102   28.0      no       -1       13.0          foreign     0.0      2.0
3103   51.0     NaN        0       12.0  e. sou. central     0.0      0.0
3104   24.0      no        0        8.0   south atlantic     0.0      0.0

      teens          income engagement_religion  x1  tvhours  gender
0       0.0             NaN         once a year   2      3.0       0
1       0.0  $25000 or more    sevrl times a yr   2      3.0       0
2       0.0  $10000 - 14999               never   3      NaN       1
3       0.0  $25000 or more         once a year   1      1.0       1
4       0.0  $25000 or more               never   2      4.0       0
5       0.0  $25000 or more      lt once a year   1      NaN       1
6       0.0  $25000 or more          every week   3      4.0       0
7       0.0  $25000 or more     nrly every week   2      1.0       0
8       0.0  $25000 or more        2-3x a month   2      1.0       1
9       0.0   $3000 to 3999        2-3x a month   2      5.0       1
10      0.0  $25000 or more      lt once a year   1      NaN       0
11      0.0             NaN    more thn once wk   2      1.0       1
12      0.0  $25000 or more               never   3      NaN       1
13      0.0             NaN                 NaN   1      4.0       0
14      0.0  $25000 or more               never   2      6.0       1
15      0.0  $25000 or more    sevrl times a yr   3      NaN       0
16      0.0  $15000 - 19999      lt once a year   2      2.0       0
17      0.0  $25000 or more               never   1      2.0       0
18      0.0  $25000 or more    more thn once wk   3      NaN       0
19      0.0             NaN                 NaN   1      3.0       1
20      0.0  $25000 or more      lt once a year   3      2.0       0
21      0.0        lt $1000               never   2      6.0       0
22      0.0   $8000 to 9999               never   3      NaN       0
23      0.0             NaN               never   1      2.0       1
24      0.0             NaN               never   1      2.0       1
25      0.0  $25000 or more         once a year   3      3.0       0
26      0.0  $25000 or more        2-3x a month   1      NaN       1
27      2.0  $20000 - 24999          every week   1      6.0       1
28      0.0   $6000 to 6999               never   3      0.0       1
29      0.0  $15000 - 19999        once a month   3      5.0       1
...     ...             ...                 ...  ..      ...     ...
3075    0.0  $25000 or more      lt once a year   3      NaN       0
3076    2.0  $25000 or more          every week   1      3.0       0
3077    0.0  $25000 or more          every week   2      3.0       0
3078    0.0  $25000 or more    more thn once wk   1      4.0       1
3079    0.0  $25000 or more     nrly every week   3      1.0       0
3080    0.0             NaN    more thn once wk   2      1.0       1
3081    1.0  $25000 or more        once a month   2      3.0       1
3082    0.0  $25000 or more          every week   3      NaN       1
3083    1.0  $25000 or more          every week   3      1.0       1
3084    0.0  $25000 or more        once a month   2      3.0       0
3085    0.0  $25000 or more          every week   3      NaN       1
3086    0.0             NaN               never   1      4.0       1
3087    0.0  $20000 - 24999        2-3x a month   1      2.0       1
3088    0.0  $25000 or more               never   1      NaN       1
3089    0.0        lt $1000    sevrl times a yr   3      NaN       1
3090    0.0  $25000 or more    sevrl times a yr   1      NaN       0
3091    0.0  $25000 or more    sevrl times a yr   2      5.0       0
3092    0.0  $25000 or more      lt once a year   3      NaN       0
3093    0.0  $25000 or more         once a year   1      2.0       0
3094    0.0  $25000 or more          every week   2      2.0       1
3095    0.0  $25000 or more        once a month   1      2.0       1
3096    0.0  $25000 or more         once a year   1      NaN       1
3097    0.0   $4000 to 4999      lt once a year   1      4.0       0
3098    2.0  $25000 or more        2-3x a month   2      3.0       0
3099    0.0   $8000 to 9999         once a year   1      2.0       0
3100    0.0  $25000 or more     nrly every week   2      2.0       1
3101    0.0  $25000 or more          every week   1      1.0       0
3102    0.0  $25000 or more    sevrl times a yr   3      2.0       1
3103    0.0  $25000 or more               never   3      NaN       0
3104    0.0   $4000 to 4999     nrly every week   1      NaN       1

[3105 rows x 17 columns]

In [32]:
dx=pd.Series.unique(df1['widowed'])
print (dx)

[-1  1  0]

In [34]:
dx=pd.Series.unique(df1['engagement_religion'])
print (dx)

['once a year' 'sevrl times a yr' 'never' 'lt once a year' 'every week'
 'nrly every week' '2-3x a month' 'more thn once wk' nan 'once a month']

In [40]:
df1['engagement_religion']=df1['engagement_religion'].fillna(0)
print(df1)

               id       alcohol_consumption location_class        workstatus  \
0         citzen1       2 - 3 times a month              A  working fulltime
1       citzen100       2 - 3 times a month            NaN  working fulltime
2     citzen10007               Once a week              B     keeping house
3     citzen10010       2 - 3 times a month              A  working fulltime
4     citzen10023  Multiple times in a week              F  working parttime
5     citzen10039               Occassional              D  working fulltime
6     citzen10046                     Never              A  working fulltime
7      citzen1005               Occassional              D  working fulltime
8     citzen10054                     Never              F  working fulltime
9     citzen10057                    Rarely              E     keeping house
10    citzen10061                     Never              E  working parttime
11    citzen10064                    Rarely              A     keeping house
12    citzen10067                       NaN              F             other
13    citzen10072                    Rarely              F  working fulltime
14    citzen10073                    Rarely              B           retired
15    citzen10076                    Rarely              G  working fulltime
16    citzen10077                     Never              A  working fulltime
17    citzen10079                    Rarely              G  working fulltime
18    citzen10081              Once a month              D  working parttime
19    citzen10083              Once a month              A  working fulltime
20    citzen10084                     Never              C  working fulltime
21    citzen10093  Multiple times in a week              A           retired
22    citzen10097              Once a month              A           retired
23    citzen10098       2 - 3 times a month              C           retired
24    citzen10099              Once a month              C  working parttime
25    citzen10100                     Never              D  working fulltime
26    citzen10101                    Rarely              G  working fulltime
27    citzen10105              Once a month              B  working fulltime
28     citzen1011  Multiple times in a week              B           retired
29    citzen10111                       NaN            NaN  working fulltime
...           ...                       ...            ...               ...
3075    citzen986               Occassional              A  working fulltime
3076   citzen9863               Occassional              C  temp not working
3077   citzen9866                    Rarely              G  working fulltime
3078   citzen9873               Once a week              C     keeping house
3079   citzen9874               Once a week              D  working fulltime
3080   citzen9877               Once a week              F           retired
3081   citzen9887               Occassional              A  working fulltime
3082   citzen9890              Once a month              E  working parttime
3083   citzen9894                    Rarely              G     keeping house
3084   citzen9902              Once a month              E  working fulltime
3085   citzen9903              Once a month              B  working parttime
3086   citzen9909                     Never              F           retired
3087    citzen991                    Rarely              F           retired
3088   citzen9923       2 - 3 times a month              F  working fulltime
3089   citzen9927  Multiple times in a week              B     keeping house
3090   citzen9929       2 - 3 times a month              D  working fulltime
3091   citzen9937  Multiple times in a week              B  working fulltime
3092   citzen9938  Multiple times in a week              D  working fulltime
3093   citzen9943       2 - 3 times a month              A  working fulltime
3094   citzen9946               Once a week              D  working fulltime
3095   citzen9948               Occassional              B  working fulltime
3096   citzen9961       2 - 3 times a month              C  working fulltime
3097   citzen9966       2 - 3 times a month              B  working parttime
3098   citzen9971                    Rarely              A  working fulltime
3099   citzen9979              Once a month              C  working fulltime
3100   citzen9980       2 - 3 times a month              E  working fulltime
3101   citzen9988               Once a week              G     keeping house
3102    citzen999              Once a month              C  working fulltime
3103   citzen9993                     Never              D  working fulltime
3104   citzen9998               Occassional              B     keeping house

      score divorce  widowed  education residence_region  babies  preteen  \
0      43.0     NaN       -1       12.0  e. nor. central     0.0      0.0
1      42.0     yes       -1       12.0   south atlantic     0.0      0.0
2      21.0     yes        1       13.0  e. nor. central     0.0      0.0
3      46.0     yes        0       12.0   south atlantic     0.0      0.0
4      36.0     NaN        0       12.0   south atlantic     0.0      0.0
5      42.0     NaN        0        NaN          foreign     0.0      0.0
6      51.0      no       -1       13.0  e. nor. central     1.0      0.0
7      51.0     yes       -1       14.0  middle atlantic     0.0      0.0
8      31.0     NaN        0       14.0   south atlantic     0.0      2.0
9      22.0     NaN        0       11.0  w. sou. central     0.0      0.0
10     39.0     NaN        0       12.0  e. nor. central     0.0      0.0
11     23.0      no        0        8.0  w. sou. central     0.0      0.0
12     49.0     yes        0       14.0  e. nor. central     0.0      0.0
13     41.0     NaN       -1       16.0   south atlantic     0.0      0.0
14     50.0      no        0       12.0  w. nor. central     0.0      0.0
15     59.0     NaN       -1       18.0  w. sou. central     0.0      0.0
16     39.0      no       -1       16.0          pacific     0.0      0.0
17     51.0      no       -1        9.0          foreign     0.0      0.0
18     22.0     NaN        0       19.0  e. nor. central     0.0      0.0
19     42.0     NaN       -1        8.0   south atlantic     0.0      0.0
20     60.0     yes        0       20.0  w. sou. central     1.0      0.0
21      NaN      no       -1        8.0  middle atlantic     0.0      0.0
22     35.0     NaN       -1       10.0  middle atlantic     0.0      0.0
23     46.0      no        0       13.0  w. sou. central     0.0      0.0
24     51.0     yes        0       16.0  e. nor. central     0.0      0.0
25     51.0     NaN        0       16.0          pacific     0.0      0.0
26     29.0     NaN        0       14.0  w. sou. central     0.0      0.0
27     44.0      no       -1       12.0   south atlantic     0.0      0.0
28      NaN      no        0       20.0  w. nor. central     0.0      0.0
29     24.0     NaN        0       11.0   south atlantic     0.0      0.0
...     ...     ...      ...        ...              ...     ...      ...
3075   65.0     NaN        0       16.0         mountain     0.0      2.0
3076   50.0      no       -1       14.0          foreign     0.0      3.0
3077   33.0      no       -1       16.0  middle atlantic     0.0      0.0
3078   66.0      no        0       16.0  middle atlantic     0.0      0.0
3079   30.0     NaN        0       13.0          pacific     0.0      0.0
3080   17.0      no       -1        8.0  e. sou. central     0.0      0.0
3081   44.0      no       -1       14.0         mountain     0.0      0.0
3082   42.0      no       -1       14.0  middle atlantic     0.0      0.0
3083   43.0      no       -1       12.0   south atlantic     0.0      0.0
3084   44.0     yes       -1       16.0         mountain     0.0      0.0
3085   46.0      no       -1       12.0   south atlantic     0.0      0.0
3086   66.0      no        0       16.0  e. nor. central     0.0      0.0
3087   64.0      no        0       18.0  middle atlantic     0.0      0.0
3088   36.0     NaN        0       16.0  middle atlantic     0.0      0.0
3089   22.0     NaN       -1        9.0  e. sou. central     1.0      0.0
3090   66.0     NaN        0       16.0   south atlantic     0.0      0.0
3091   44.0     NaN       -1       14.0          pacific     0.0      0.0
3092   39.0     NaN       -1        8.0   south atlantic     0.0      0.0
3093   64.0     yes       -1       18.0  w. sou. central     0.0      1.0
3094   59.0      no       -1       14.0  middle atlantic     0.0      0.0
3095   69.0     NaN       -1       20.0  w. nor. central     0.0      0.0
3096   55.0      no       -1       14.0  e. nor. central     0.0      0.0
3097   32.0     NaN        0       15.0          pacific     0.0      0.0
3098   86.0      no       -1       18.0          foreign     0.0      0.0
3099   28.0     NaN        0       15.0  middle atlantic     0.0      0.0
3100   51.0     NaN       -1       16.0          pacific     0.0      0.0
3101   29.0     NaN        0       13.0   south atlantic     0.0      0.0
3102   28.0      no       -1       13.0          foreign     0.0      2.0
3103   51.0     NaN        0       12.0  e. sou. central     0.0      0.0
3104   24.0      no        0        8.0   south atlantic     0.0      0.0

      teens          income  engagement_religion  x1  tvhours  gender
0       0.0             NaN                    1   2      3.0       0
1       0.0  $25000 or more                    2   2      3.0       0
2       0.0  $10000 - 14999                    3   3      NaN       1
3       0.0  $25000 or more                    1   1      1.0       1
4       0.0  $25000 or more                    3   2      4.0       0
5       0.0  $25000 or more                    4   1      NaN       1
6       0.0  $25000 or more                    5   3      4.0       0
7       0.0  $25000 or more                    6   2      1.0       0
8       0.0  $25000 or more                    7   2      1.0       1
9       0.0   $3000 to 3999                    7   2      5.0       1
10      0.0  $25000 or more                    4   1      NaN       0
11      0.0             NaN                    8   2      1.0       1
12      0.0  $25000 or more                    3   3      NaN       1
13      0.0             NaN                    0   1      4.0       0
14      0.0  $25000 or more                    3   2      6.0       1
15      0.0  $25000 or more                    2   3      NaN       0
16      0.0  $15000 - 19999                    4   2      2.0       0
17      0.0  $25000 or more                    3   1      2.0       0
18      0.0  $25000 or more                    8   3      NaN       0
19      0.0             NaN                    0   1      3.0       1
20      0.0  $25000 or more                    4   3      2.0       0
21      0.0        lt $1000                    3   2      6.0       0
22      0.0   $8000 to 9999                    3   3      NaN       0
23      0.0             NaN                    3   1      2.0       1
24      0.0             NaN                    3   1      2.0       1
25      0.0  $25000 or more                    1   3      3.0       0
26      0.0  $25000 or more                    7   1      NaN       1
27      2.0  $20000 - 24999                    5   1      6.0       1
28      0.0   $6000 to 6999                    3   3      0.0       1
29      0.0  $15000 - 19999                    9   3      5.0       1
...     ...             ...                  ...  ..      ...     ...
3075    0.0  $25000 or more                    4   3      NaN       0
3076    2.0  $25000 or more                    5   1      3.0       0
3077    0.0  $25000 or more                    5   2      3.0       0
3078    0.0  $25000 or more                    8   1      4.0       1
3079    0.0  $25000 or more                    6   3      1.0       0
3080    0.0             NaN                    8   2      1.0       1
3081    1.0  $25000 or more                    9   2      3.0       1
3082    0.0  $25000 or more                    5   3      NaN       1
3083    1.0  $25000 or more                    5   3      1.0       1
3084    0.0  $25000 or more                    9   2      3.0       0
3085    0.0  $25000 or more                    5   3      NaN       1
3086    0.0             NaN                    3   1      4.0       1
3087    0.0  $20000 - 24999                    7   1      2.0       1
3088    0.0  $25000 or more                    3   1      NaN       1
3089    0.0        lt $1000                    2   3      NaN       1
3090    0.0  $25000 or more                    2   1      NaN       0
3091    0.0  $25000 or more                    2   2      5.0       0
3092    0.0  $25000 or more                    4   3      NaN       0
3093    0.0  $25000 or more                    1   1      2.0       0
3094    0.0  $25000 or more                    5   2      2.0       1
3095    0.0  $25000 or more                    9   1      2.0       1
3096    0.0  $25000 or more                    1   1      NaN       1
3097    0.0   $4000 to 4999                    4   1      4.0       0
3098    2.0  $25000 or more                    7   2      3.0       0
3099    0.0   $8000 to 9999                    1   1      2.0       0
3100    0.0  $25000 or more                    6   2      2.0       1
3101    0.0  $25000 or more                    5   1      1.0       0
3102    0.0  $25000 or more                    2   3      2.0       1
3103    0.0  $25000 or more                    3   3      NaN       0
3104    0.0   $4000 to 4999                    6   1      NaN       1

[3105 rows x 17 columns]

In [39]:
df1.engagement_religion.replace( ('once a year','sevrl times a yr','never','lt once a year','every week','nrly every week','2-3x a month','more thn once wk','once a month'),(1, 2,3,4,5,6,7,8,9), inplace=True)
print(df1)

               id       alcohol_consumption location_class        workstatus  \
0         citzen1       2 - 3 times a month              A  working fulltime
1       citzen100       2 - 3 times a month            NaN  working fulltime
2     citzen10007               Once a week              B     keeping house
3     citzen10010       2 - 3 times a month              A  working fulltime
4     citzen10023  Multiple times in a week              F  working parttime
5     citzen10039               Occassional              D  working fulltime
6     citzen10046                     Never              A  working fulltime
7      citzen1005               Occassional              D  working fulltime
8     citzen10054                     Never              F  working fulltime
9     citzen10057                    Rarely              E     keeping house
10    citzen10061                     Never              E  working parttime
11    citzen10064                    Rarely              A     keeping house
12    citzen10067                       NaN              F             other
13    citzen10072                    Rarely              F  working fulltime
14    citzen10073                    Rarely              B           retired
15    citzen10076                    Rarely              G  working fulltime
16    citzen10077                     Never              A  working fulltime
17    citzen10079                    Rarely              G  working fulltime
18    citzen10081              Once a month              D  working parttime
19    citzen10083              Once a month              A  working fulltime
20    citzen10084                     Never              C  working fulltime
21    citzen10093  Multiple times in a week              A           retired
22    citzen10097              Once a month              A           retired
23    citzen10098       2 - 3 times a month              C           retired
24    citzen10099              Once a month              C  working parttime
25    citzen10100                     Never              D  working fulltime
26    citzen10101                    Rarely              G  working fulltime
27    citzen10105              Once a month              B  working fulltime
28     citzen1011  Multiple times in a week              B           retired
29    citzen10111                       NaN            NaN  working fulltime
...           ...                       ...            ...               ...
3075    citzen986               Occassional              A  working fulltime
3076   citzen9863               Occassional              C  temp not working
3077   citzen9866                    Rarely              G  working fulltime
3078   citzen9873               Once a week              C     keeping house
3079   citzen9874               Once a week              D  working fulltime
3080   citzen9877               Once a week              F           retired
3081   citzen9887               Occassional              A  working fulltime
3082   citzen9890              Once a month              E  working parttime
3083   citzen9894                    Rarely              G     keeping house
3084   citzen9902              Once a month              E  working fulltime
3085   citzen9903              Once a month              B  working parttime
3086   citzen9909                     Never              F           retired
3087    citzen991                    Rarely              F           retired
3088   citzen9923       2 - 3 times a month              F  working fulltime
3089   citzen9927  Multiple times in a week              B     keeping house
3090   citzen9929       2 - 3 times a month              D  working fulltime
3091   citzen9937  Multiple times in a week              B  working fulltime
3092   citzen9938  Multiple times in a week              D  working fulltime
3093   citzen9943       2 - 3 times a month              A  working fulltime
3094   citzen9946               Once a week              D  working fulltime
3095   citzen9948               Occassional              B  working fulltime
3096   citzen9961       2 - 3 times a month              C  working fulltime
3097   citzen9966       2 - 3 times a month              B  working parttime
3098   citzen9971                    Rarely              A  working fulltime
3099   citzen9979              Once a month              C  working fulltime
3100   citzen9980       2 - 3 times a month              E  working fulltime
3101   citzen9988               Once a week              G     keeping house
3102    citzen999              Once a month              C  working fulltime
3103   citzen9993                     Never              D  working fulltime
3104   citzen9998               Occassional              B     keeping house

      score divorce  widowed  education residence_region  babies  preteen  \
0      43.0     NaN       -1       12.0  e. nor. central     0.0      0.0
1      42.0     yes       -1       12.0   south atlantic     0.0      0.0
2      21.0     yes        1       13.0  e. nor. central     0.0      0.0
3      46.0     yes        0       12.0   south atlantic     0.0      0.0
4      36.0     NaN        0       12.0   south atlantic     0.0      0.0
5      42.0     NaN        0        NaN          foreign     0.0      0.0
6      51.0      no       -1       13.0  e. nor. central     1.0      0.0
7      51.0     yes       -1       14.0  middle atlantic     0.0      0.0
8      31.0     NaN        0       14.0   south atlantic     0.0      2.0
9      22.0     NaN        0       11.0  w. sou. central     0.0      0.0
10     39.0     NaN        0       12.0  e. nor. central     0.0      0.0
11     23.0      no        0        8.0  w. sou. central     0.0      0.0
12     49.0     yes        0       14.0  e. nor. central     0.0      0.0
13     41.0     NaN       -1       16.0   south atlantic     0.0      0.0
14     50.0      no        0       12.0  w. nor. central     0.0      0.0
15     59.0     NaN       -1       18.0  w. sou. central     0.0      0.0
16     39.0      no       -1       16.0          pacific     0.0      0.0
17     51.0      no       -1        9.0          foreign     0.0      0.0
18     22.0     NaN        0       19.0  e. nor. central     0.0      0.0
19     42.0     NaN       -1        8.0   south atlantic     0.0      0.0
20     60.0     yes        0       20.0  w. sou. central     1.0      0.0
21      NaN      no       -1        8.0  middle atlantic     0.0      0.0
22     35.0     NaN       -1       10.0  middle atlantic     0.0      0.0
23     46.0      no        0       13.0  w. sou. central     0.0      0.0
24     51.0     yes        0       16.0  e. nor. central     0.0      0.0
25     51.0     NaN        0       16.0          pacific     0.0      0.0
26     29.0     NaN        0       14.0  w. sou. central     0.0      0.0
27     44.0      no       -1       12.0   south atlantic     0.0      0.0
28      NaN      no        0       20.0  w. nor. central     0.0      0.0
29     24.0     NaN        0       11.0   south atlantic     0.0      0.0
...     ...     ...      ...        ...              ...     ...      ...
3075   65.0     NaN        0       16.0         mountain     0.0      2.0
3076   50.0      no       -1       14.0          foreign     0.0      3.0
3077   33.0      no       -1       16.0  middle atlantic     0.0      0.0
3078   66.0      no        0       16.0  middle atlantic     0.0      0.0
3079   30.0     NaN        0       13.0          pacific     0.0      0.0
3080   17.0      no       -1        8.0  e. sou. central     0.0      0.0
3081   44.0      no       -1       14.0         mountain     0.0      0.0
3082   42.0      no       -1       14.0  middle atlantic     0.0      0.0
3083   43.0      no       -1       12.0   south atlantic     0.0      0.0
3084   44.0     yes       -1       16.0         mountain     0.0      0.0
3085   46.0      no       -1       12.0   south atlantic     0.0      0.0
3086   66.0      no        0       16.0  e. nor. central     0.0      0.0
3087   64.0      no        0       18.0  middle atlantic     0.0      0.0
3088   36.0     NaN        0       16.0  middle atlantic     0.0      0.0
3089   22.0     NaN       -1        9.0  e. sou. central     1.0      0.0
3090   66.0     NaN        0       16.0   south atlantic     0.0      0.0
3091   44.0     NaN       -1       14.0          pacific     0.0      0.0
3092   39.0     NaN       -1        8.0   south atlantic     0.0      0.0
3093   64.0     yes       -1       18.0  w. sou. central     0.0      1.0
3094   59.0      no       -1       14.0  middle atlantic     0.0      0.0
3095   69.0     NaN       -1       20.0  w. nor. central     0.0      0.0
3096   55.0      no       -1       14.0  e. nor. central     0.0      0.0
3097   32.0     NaN        0       15.0          pacific     0.0      0.0
3098   86.0      no       -1       18.0          foreign     0.0      0.0
3099   28.0     NaN        0       15.0  middle atlantic     0.0      0.0
3100   51.0     NaN       -1       16.0          pacific     0.0      0.0
3101   29.0     NaN        0       13.0   south atlantic     0.0      0.0
3102   28.0      no       -1       13.0          foreign     0.0      2.0
3103   51.0     NaN        0       12.0  e. sou. central     0.0      0.0
3104   24.0      no        0        8.0   south atlantic     0.0      0.0

      teens          income  engagement_religion  x1  tvhours  gender
0       0.0             NaN                    1   2      3.0       0
1       0.0  $25000 or more                    2   2      3.0       0
2       0.0  $10000 - 14999                    3   3      NaN       1
3       0.0  $25000 or more                    1   1      1.0       1
4       0.0  $25000 or more                    3   2      4.0       0
5       0.0  $25000 or more                    4   1      NaN       1
6       0.0  $25000 or more                    5   3      4.0       0
7       0.0  $25000 or more                    6   2      1.0       0
8       0.0  $25000 or more                    7   2      1.0       1
9       0.0   $3000 to 3999                    7   2      5.0       1
10      0.0  $25000 or more                    4   1      NaN       0
11      0.0             NaN                    8   2      1.0       1
12      0.0  $25000 or more                    3   3      NaN       1
13      0.0             NaN                    0   1      4.0       0
14      0.0  $25000 or more                    3   2      6.0       1
15      0.0  $25000 or more                    2   3      NaN       0
16      0.0  $15000 - 19999                    4   2      2.0       0
17      0.0  $25000 or more                    3   1      2.0       0
18      0.0  $25000 or more                    8   3      NaN       0
19      0.0             NaN                    0   1      3.0       1
20      0.0  $25000 or more                    4   3      2.0       0
21      0.0        lt $1000                    3   2      6.0       0
22      0.0   $8000 to 9999                    3   3      NaN       0
23      0.0             NaN                    3   1      2.0       1
24      0.0             NaN                    3   1      2.0       1
25      0.0  $25000 or more                    1   3      3.0       0
26      0.0  $25000 or more                    7   1      NaN       1
27      2.0  $20000 - 24999                    5   1      6.0       1
28      0.0   $6000 to 6999                    3   3      0.0       1
29      0.0  $15000 - 19999                    9   3      5.0       1
...     ...             ...                  ...  ..      ...     ...
3075    0.0  $25000 or more                    4   3      NaN       0
3076    2.0  $25000 or more                    5   1      3.0       0
3077    0.0  $25000 or more                    5   2      3.0       0
3078    0.0  $25000 or more                    8   1      4.0       1
3079    0.0  $25000 or more                    6   3      1.0       0
3080    0.0             NaN                    8   2      1.0       1
3081    1.0  $25000 or more                    9   2      3.0       1
3082    0.0  $25000 or more                    5   3      NaN       1
3083    1.0  $25000 or more                    5   3      1.0       1
3084    0.0  $25000 or more                    9   2      3.0       0
3085    0.0  $25000 or more                    5   3      NaN       1
3086    0.0             NaN                    3   1      4.0       1
3087    0.0  $20000 - 24999                    7   1      2.0       1
3088    0.0  $25000 or more                    3   1      NaN       1
3089    0.0        lt $1000                    2   3      NaN       1
3090    0.0  $25000 or more                    2   1      NaN       0
3091    0.0  $25000 or more                    2   2      5.0       0
3092    0.0  $25000 or more                    4   3      NaN       0
3093    0.0  $25000 or more                    1   1      2.0       0
3094    0.0  $25000 or more                    5   2      2.0       1
3095    0.0  $25000 or more                    9   1      2.0       1
3096    0.0  $25000 or more                    1   1      NaN       1
3097    0.0   $4000 to 4999                    4   1      4.0       0
3098    2.0  $25000 or more                    7   2      3.0       0
3099    0.0   $8000 to 9999                    1   1      2.0       0
3100    0.0  $25000 or more                    6   2      2.0       1
3101    0.0  $25000 or more                    5   1      1.0       0
3102    0.0  $25000 or more                    2   3      2.0       1
3103    0.0  $25000 or more                    3   3      NaN       0
3104    0.0   $4000 to 4999                    6   1      NaN       1

[3105 rows x 17 columns]

In [41]:
dx=pd.Series.unique(df1['alcohol_consumption'])
print (dx)

['2 - 3 times a month' 'Once a week' 'Multiple times in a week'
 'Occassional' 'Never' 'Rarely' nan 'Once a month']

df1[']=df1['widowed'].fillna(0)

In [42]:
df1['alcohol_consumption']=df1['alcohol_consumption'].fillna(0)
df1.alcohol_consumption.replace( ('2 - 3 times a month', 'Once a week' ,'Multiple times in a week', 'Occassional' ,'Never' ,'Rarely' , 'Once a month'),(1, 2,3,4,5,6,7), inplace=True)
print(df1)

               id  alcohol_consumption location_class        workstatus  \
0         citzen1                    1              A  working fulltime
1       citzen100                    1            NaN  working fulltime
2     citzen10007                    2              B     keeping house
3     citzen10010                    1              A  working fulltime
4     citzen10023                    3              F  working parttime
5     citzen10039                    4              D  working fulltime
6     citzen10046                    5              A  working fulltime
7      citzen1005                    4              D  working fulltime
8     citzen10054                    5              F  working fulltime
9     citzen10057                    6              E     keeping house
10    citzen10061                    5              E  working parttime
11    citzen10064                    6              A     keeping house
12    citzen10067                    0              F             other
13    citzen10072                    6              F  working fulltime
14    citzen10073                    6              B           retired
15    citzen10076                    6              G  working fulltime
16    citzen10077                    5              A  working fulltime
17    citzen10079                    6              G  working fulltime
18    citzen10081                    7              D  working parttime
19    citzen10083                    7              A  working fulltime
20    citzen10084                    5              C  working fulltime
21    citzen10093                    3              A           retired
22    citzen10097                    7              A           retired
23    citzen10098                    1              C           retired
24    citzen10099                    7              C  working parttime
25    citzen10100                    5              D  working fulltime
26    citzen10101                    6              G  working fulltime
27    citzen10105                    7              B  working fulltime
28     citzen1011                    3              B           retired
29    citzen10111                    0            NaN  working fulltime
...           ...                  ...            ...               ...
3075    citzen986                    4              A  working fulltime
3076   citzen9863                    4              C  temp not working
3077   citzen9866                    6              G  working fulltime
3078   citzen9873                    2              C     keeping house
3079   citzen9874                    2              D  working fulltime
3080   citzen9877                    2              F           retired
3081   citzen9887                    4              A  working fulltime
3082   citzen9890                    7              E  working parttime
3083   citzen9894                    6              G     keeping house
3084   citzen9902                    7              E  working fulltime
3085   citzen9903                    7              B  working parttime
3086   citzen9909                    5              F           retired
3087    citzen991                    6              F           retired
3088   citzen9923                    1              F  working fulltime
3089   citzen9927                    3              B     keeping house
3090   citzen9929                    1              D  working fulltime
3091   citzen9937                    3              B  working fulltime
3092   citzen9938                    3              D  working fulltime
3093   citzen9943                    1              A  working fulltime
3094   citzen9946                    2              D  working fulltime
3095   citzen9948                    4              B  working fulltime
3096   citzen9961                    1              C  working fulltime
3097   citzen9966                    1              B  working parttime
3098   citzen9971                    6              A  working fulltime
3099   citzen9979                    7              C  working fulltime
3100   citzen9980                    1              E  working fulltime
3101   citzen9988                    2              G     keeping house
3102    citzen999                    7              C  working fulltime
3103   citzen9993                    5              D  working fulltime
3104   citzen9998                    4              B     keeping house

      score divorce  widowed  education residence_region  babies  preteen  \
0      43.0     NaN       -1       12.0  e. nor. central     0.0      0.0
1      42.0     yes       -1       12.0   south atlantic     0.0      0.0
2      21.0     yes        1       13.0  e. nor. central     0.0      0.0
3      46.0     yes        0       12.0   south atlantic     0.0      0.0
4      36.0     NaN        0       12.0   south atlantic     0.0      0.0
5      42.0     NaN        0        NaN          foreign     0.0      0.0
6      51.0      no       -1       13.0  e. nor. central     1.0      0.0
7      51.0     yes       -1       14.0  middle atlantic     0.0      0.0
8      31.0     NaN        0       14.0   south atlantic     0.0      2.0
9      22.0     NaN        0       11.0  w. sou. central     0.0      0.0
10     39.0     NaN        0       12.0  e. nor. central     0.0      0.0
11     23.0      no        0        8.0  w. sou. central     0.0      0.0
12     49.0     yes        0       14.0  e. nor. central     0.0      0.0
13     41.0     NaN       -1       16.0   south atlantic     0.0      0.0
14     50.0      no        0       12.0  w. nor. central     0.0      0.0
15     59.0     NaN       -1       18.0  w. sou. central     0.0      0.0
16     39.0      no       -1       16.0          pacific     0.0      0.0
17     51.0      no       -1        9.0          foreign     0.0      0.0
18     22.0     NaN        0       19.0  e. nor. central     0.0      0.0
19     42.0     NaN       -1        8.0   south atlantic     0.0      0.0
20     60.0     yes        0       20.0  w. sou. central     1.0      0.0
21      NaN      no       -1        8.0  middle atlantic     0.0      0.0
22     35.0     NaN       -1       10.0  middle atlantic     0.0      0.0
23     46.0      no        0       13.0  w. sou. central     0.0      0.0
24     51.0     yes        0       16.0  e. nor. central     0.0      0.0
25     51.0     NaN        0       16.0          pacific     0.0      0.0
26     29.0     NaN        0       14.0  w. sou. central     0.0      0.0
27     44.0      no       -1       12.0   south atlantic     0.0      0.0
28      NaN      no        0       20.0  w. nor. central     0.0      0.0
29     24.0     NaN        0       11.0   south atlantic     0.0      0.0
...     ...     ...      ...        ...              ...     ...      ...
3075   65.0     NaN        0       16.0         mountain     0.0      2.0
3076   50.0      no       -1       14.0          foreign     0.0      3.0
3077   33.0      no       -1       16.0  middle atlantic     0.0      0.0
3078   66.0      no        0       16.0  middle atlantic     0.0      0.0
3079   30.0     NaN        0       13.0          pacific     0.0      0.0
3080   17.0      no       -1        8.0  e. sou. central     0.0      0.0
3081   44.0      no       -1       14.0         mountain     0.0      0.0
3082   42.0      no       -1       14.0  middle atlantic     0.0      0.0
3083   43.0      no       -1       12.0   south atlantic     0.0      0.0
3084   44.0     yes       -1       16.0         mountain     0.0      0.0
3085   46.0      no       -1       12.0   south atlantic     0.0      0.0
3086   66.0      no        0       16.0  e. nor. central     0.0      0.0
3087   64.0      no        0       18.0  middle atlantic     0.0      0.0
3088   36.0     NaN        0       16.0  middle atlantic     0.0      0.0
3089   22.0     NaN       -1        9.0  e. sou. central     1.0      0.0
3090   66.0     NaN        0       16.0   south atlantic     0.0      0.0
3091   44.0     NaN       -1       14.0          pacific     0.0      0.0
3092   39.0     NaN       -1        8.0   south atlantic     0.0      0.0
3093   64.0     yes       -1       18.0  w. sou. central     0.0      1.0
3094   59.0      no       -1       14.0  middle atlantic     0.0      0.0
3095   69.0     NaN       -1       20.0  w. nor. central     0.0      0.0
3096   55.0      no       -1       14.0  e. nor. central     0.0      0.0
3097   32.0     NaN        0       15.0          pacific     0.0      0.0
3098   86.0      no       -1       18.0          foreign     0.0      0.0
3099   28.0     NaN        0       15.0  middle atlantic     0.0      0.0
3100   51.0     NaN       -1       16.0          pacific     0.0      0.0
3101   29.0     NaN        0       13.0   south atlantic     0.0      0.0
3102   28.0      no       -1       13.0          foreign     0.0      2.0
3103   51.0     NaN        0       12.0  e. sou. central     0.0      0.0
3104   24.0      no        0        8.0   south atlantic     0.0      0.0

      teens          income  engagement_religion  x1  tvhours  gender
0       0.0             NaN                    1   2      3.0       0
1       0.0  $25000 or more                    2   2      3.0       0
2       0.0  $10000 - 14999                    3   3      NaN       1
3       0.0  $25000 or more                    1   1      1.0       1
4       0.0  $25000 or more                    3   2      4.0       0
5       0.0  $25000 or more                    4   1      NaN       1
6       0.0  $25000 or more                    5   3      4.0       0
7       0.0  $25000 or more                    6   2      1.0       0
8       0.0  $25000 or more                    7   2      1.0       1
9       0.0   $3000 to 3999                    7   2      5.0       1
10      0.0  $25000 or more                    4   1      NaN       0
11      0.0             NaN                    8   2      1.0       1
12      0.0  $25000 or more                    3   3      NaN       1
13      0.0             NaN                    0   1      4.0       0
14      0.0  $25000 or more                    3   2      6.0       1
15      0.0  $25000 or more                    2   3      NaN       0
16      0.0  $15000 - 19999                    4   2      2.0       0
17      0.0  $25000 or more                    3   1      2.0       0
18      0.0  $25000 or more                    8   3      NaN       0
19      0.0             NaN                    0   1      3.0       1
20      0.0  $25000 or more                    4   3      2.0       0
21      0.0        lt $1000                    3   2      6.0       0
22      0.0   $8000 to 9999                    3   3      NaN       0
23      0.0             NaN                    3   1      2.0       1
24      0.0             NaN                    3   1      2.0       1
25      0.0  $25000 or more                    1   3      3.0       0
26      0.0  $25000 or more                    7   1      NaN       1
27      2.0  $20000 - 24999                    5   1      6.0       1
28      0.0   $6000 to 6999                    3   3      0.0       1
29      0.0  $15000 - 19999                    9   3      5.0       1
...     ...             ...                  ...  ..      ...     ...
3075    0.0  $25000 or more                    4   3      NaN       0
3076    2.0  $25000 or more                    5   1      3.0       0
3077    0.0  $25000 or more                    5   2      3.0       0
3078    0.0  $25000 or more                    8   1      4.0       1
3079    0.0  $25000 or more                    6   3      1.0       0
3080    0.0             NaN                    8   2      1.0       1
3081    1.0  $25000 or more                    9   2      3.0       1
3082    0.0  $25000 or more                    5   3      NaN       1
3083    1.0  $25000 or more                    5   3      1.0       1
3084    0.0  $25000 or more                    9   2      3.0       0
3085    0.0  $25000 or more                    5   3      NaN       1
3086    0.0             NaN                    3   1      4.0       1
3087    0.0  $20000 - 24999                    7   1      2.0       1
3088    0.0  $25000 or more                    3   1      NaN       1
3089    0.0        lt $1000                    2   3      NaN       1
3090    0.0  $25000 or more                    2   1      NaN       0
3091    0.0  $25000 or more                    2   2      5.0       0
3092    0.0  $25000 or more                    4   3      NaN       0
3093    0.0  $25000 or more                    1   1      2.0       0
3094    0.0  $25000 or more                    5   2      2.0       1
3095    0.0  $25000 or more                    9   1      2.0       1
3096    0.0  $25000 or more                    1   1      NaN       1
3097    0.0   $4000 to 4999                    4   1      4.0       0
3098    2.0  $25000 or more                    7   2      3.0       0
3099    0.0   $8000 to 9999                    1   1      2.0       0
3100    0.0  $25000 or more                    6   2      2.0       1
3101    0.0  $25000 or more                    5   1      1.0       0
3102    0.0  $25000 or more                    2   3      2.0       1
3103    0.0  $25000 or more                    3   3      NaN       0
3104    0.0   $4000 to 4999                    6   1      NaN       1

[3105 rows x 17 columns]

In [43]:
dx=pd.Series.unique(df1['workstatus'])
print (dx)

['working fulltime' 'keeping house' 'working parttime' 'other' 'retired'
 'school' 'unempl, laid off' 'temp not working']

In [45]:
df1['workstatus']=df1['workstatus'].fillna(0)
df1.workstatus.replace( ('working fulltime', 'keeping house' ,'working parttime' ,'other' ,'retired', 'school', 'unempl, laid off' ,'temp not working'),(1, 2,3,4,5,6,7,8), inplace=True)
print(df1)

               id  alcohol_consumption location_class  workstatus  score  \
0         citzen1                    1              A           1   43.0
1       citzen100                    1            NaN           1   42.0
2     citzen10007                    2              B           2   21.0
3     citzen10010                    1              A           1   46.0
4     citzen10023                    3              F           3   36.0
5     citzen10039                    4              D           1   42.0
6     citzen10046                    5              A           1   51.0
7      citzen1005                    4              D           1   51.0
8     citzen10054                    5              F           1   31.0
9     citzen10057                    6              E           2   22.0
10    citzen10061                    5              E           3   39.0
11    citzen10064                    6              A           2   23.0
12    citzen10067                    0              F           4   49.0
13    citzen10072                    6              F           1   41.0
14    citzen10073                    6              B           5   50.0
15    citzen10076                    6              G           1   59.0
16    citzen10077                    5              A           1   39.0
17    citzen10079                    6              G           1   51.0
18    citzen10081                    7              D           3   22.0
19    citzen10083                    7              A           1   42.0
20    citzen10084                    5              C           1   60.0
21    citzen10093                    3              A           5    NaN
22    citzen10097                    7              A           5   35.0
23    citzen10098                    1              C           5   46.0
24    citzen10099                    7              C           3   51.0
25    citzen10100                    5              D           1   51.0
26    citzen10101                    6              G           1   29.0
27    citzen10105                    7              B           1   44.0
28     citzen1011                    3              B           5    NaN
29    citzen10111                    0            NaN           1   24.0
...           ...                  ...            ...         ...    ...
3075    citzen986                    4              A           1   65.0
3076   citzen9863                    4              C           8   50.0
3077   citzen9866                    6              G           1   33.0
3078   citzen9873                    2              C           2   66.0
3079   citzen9874                    2              D           1   30.0
3080   citzen9877                    2              F           5   17.0
3081   citzen9887                    4              A           1   44.0
3082   citzen9890                    7              E           3   42.0
3083   citzen9894                    6              G           2   43.0
3084   citzen9902                    7              E           1   44.0
3085   citzen9903                    7              B           3   46.0
3086   citzen9909                    5              F           5   66.0
3087    citzen991                    6              F           5   64.0
3088   citzen9923                    1              F           1   36.0
3089   citzen9927                    3              B           2   22.0
3090   citzen9929                    1              D           1   66.0
3091   citzen9937                    3              B           1   44.0
3092   citzen9938                    3              D           1   39.0
3093   citzen9943                    1              A           1   64.0
3094   citzen9946                    2              D           1   59.0
3095   citzen9948                    4              B           1   69.0
3096   citzen9961                    1              C           1   55.0
3097   citzen9966                    1              B           3   32.0
3098   citzen9971                    6              A           1   86.0
3099   citzen9979                    7              C           1   28.0
3100   citzen9980                    1              E           1   51.0
3101   citzen9988                    2              G           2   29.0
3102    citzen999                    7              C           1   28.0
3103   citzen9993                    5              D           1   51.0
3104   citzen9998                    4              B           2   24.0

     divorce  widowed  education residence_region  babies  preteen  teens  \
0        NaN       -1       12.0  e. nor. central     0.0      0.0    0.0
1        yes       -1       12.0   south atlantic     0.0      0.0    0.0
2        yes        1       13.0  e. nor. central     0.0      0.0    0.0
3        yes        0       12.0   south atlantic     0.0      0.0    0.0
4        NaN        0       12.0   south atlantic     0.0      0.0    0.0
5        NaN        0        NaN          foreign     0.0      0.0    0.0
6         no       -1       13.0  e. nor. central     1.0      0.0    0.0
7        yes       -1       14.0  middle atlantic     0.0      0.0    0.0
8        NaN        0       14.0   south atlantic     0.0      2.0    0.0
9        NaN        0       11.0  w. sou. central     0.0      0.0    0.0
10       NaN        0       12.0  e. nor. central     0.0      0.0    0.0
11        no        0        8.0  w. sou. central     0.0      0.0    0.0
12       yes        0       14.0  e. nor. central     0.0      0.0    0.0
13       NaN       -1       16.0   south atlantic     0.0      0.0    0.0
14        no        0       12.0  w. nor. central     0.0      0.0    0.0
15       NaN       -1       18.0  w. sou. central     0.0      0.0    0.0
16        no       -1       16.0          pacific     0.0      0.0    0.0
17        no       -1        9.0          foreign     0.0      0.0    0.0
18       NaN        0       19.0  e. nor. central     0.0      0.0    0.0
19       NaN       -1        8.0   south atlantic     0.0      0.0    0.0
20       yes        0       20.0  w. sou. central     1.0      0.0    0.0
21        no       -1        8.0  middle atlantic     0.0      0.0    0.0
22       NaN       -1       10.0  middle atlantic     0.0      0.0    0.0
23        no        0       13.0  w. sou. central     0.0      0.0    0.0
24       yes        0       16.0  e. nor. central     0.0      0.0    0.0
25       NaN        0       16.0          pacific     0.0      0.0    0.0
26       NaN        0       14.0  w. sou. central     0.0      0.0    0.0
27        no       -1       12.0   south atlantic     0.0      0.0    2.0
28        no        0       20.0  w. nor. central     0.0      0.0    0.0
29       NaN        0       11.0   south atlantic     0.0      0.0    0.0
...      ...      ...        ...              ...     ...      ...    ...
3075     NaN        0       16.0         mountain     0.0      2.0    0.0
3076      no       -1       14.0          foreign     0.0      3.0    2.0
3077      no       -1       16.0  middle atlantic     0.0      0.0    0.0
3078      no        0       16.0  middle atlantic     0.0      0.0    0.0
3079     NaN        0       13.0          pacific     0.0      0.0    0.0
3080      no       -1        8.0  e. sou. central     0.0      0.0    0.0
3081      no       -1       14.0         mountain     0.0      0.0    1.0
3082      no       -1       14.0  middle atlantic     0.0      0.0    0.0
3083      no       -1       12.0   south atlantic     0.0      0.0    1.0
3084     yes       -1       16.0         mountain     0.0      0.0    0.0
3085      no       -1       12.0   south atlantic     0.0      0.0    0.0
3086      no        0       16.0  e. nor. central     0.0      0.0    0.0
3087      no        0       18.0  middle atlantic     0.0      0.0    0.0
3088     NaN        0       16.0  middle atlantic     0.0      0.0    0.0
3089     NaN       -1        9.0  e. sou. central     1.0      0.0    0.0
3090     NaN        0       16.0   south atlantic     0.0      0.0    0.0
3091     NaN       -1       14.0          pacific     0.0      0.0    0.0
3092     NaN       -1        8.0   south atlantic     0.0      0.0    0.0
3093     yes       -1       18.0  w. sou. central     0.0      1.0    0.0
3094      no       -1       14.0  middle atlantic     0.0      0.0    0.0
3095     NaN       -1       20.0  w. nor. central     0.0      0.0    0.0
3096      no       -1       14.0  e. nor. central     0.0      0.0    0.0
3097     NaN        0       15.0          pacific     0.0      0.0    0.0
3098      no       -1       18.0          foreign     0.0      0.0    2.0
3099     NaN        0       15.0  middle atlantic     0.0      0.0    0.0
3100     NaN       -1       16.0          pacific     0.0      0.0    0.0
3101     NaN        0       13.0   south atlantic     0.0      0.0    0.0
3102      no       -1       13.0          foreign     0.0      2.0    0.0
3103     NaN        0       12.0  e. sou. central     0.0      0.0    0.0
3104      no        0        8.0   south atlantic     0.0      0.0    0.0

              income  engagement_religion  x1  tvhours  gender
0                NaN                    1   2      3.0       0
1     $25000 or more                    2   2      3.0       0
2     $10000 - 14999                    3   3      NaN       1
3     $25000 or more                    1   1      1.0       1
4     $25000 or more                    3   2      4.0       0
5     $25000 or more                    4   1      NaN       1
6     $25000 or more                    5   3      4.0       0
7     $25000 or more                    6   2      1.0       0
8     $25000 or more                    7   2      1.0       1
9      $3000 to 3999                    7   2      5.0       1
10    $25000 or more                    4   1      NaN       0
11               NaN                    8   2      1.0       1
12    $25000 or more                    3   3      NaN       1
13               NaN                    0   1      4.0       0
14    $25000 or more                    3   2      6.0       1
15    $25000 or more                    2   3      NaN       0
16    $15000 - 19999                    4   2      2.0       0
17    $25000 or more                    3   1      2.0       0
18    $25000 or more                    8   3      NaN       0
19               NaN                    0   1      3.0       1
20    $25000 or more                    4   3      2.0       0
21          lt $1000                    3   2      6.0       0
22     $8000 to 9999                    3   3      NaN       0
23               NaN                    3   1      2.0       1
24               NaN                    3   1      2.0       1
25    $25000 or more                    1   3      3.0       0
26    $25000 or more                    7   1      NaN       1
27    $20000 - 24999                    5   1      6.0       1
28     $6000 to 6999                    3   3      0.0       1
29    $15000 - 19999                    9   3      5.0       1
...              ...                  ...  ..      ...     ...
3075  $25000 or more                    4   3      NaN       0
3076  $25000 or more                    5   1      3.0       0
3077  $25000 or more                    5   2      3.0       0
3078  $25000 or more                    8   1      4.0       1
3079  $25000 or more                    6   3      1.0       0
3080             NaN                    8   2      1.0       1
3081  $25000 or more                    9   2      3.0       1
3082  $25000 or more                    5   3      NaN       1
3083  $25000 or more                    5   3      1.0       1
3084  $25000 or more                    9   2      3.0       0
3085  $25000 or more                    5   3      NaN       1
3086             NaN                    3   1      4.0       1
3087  $20000 - 24999                    7   1      2.0       1
3088  $25000 or more                    3   1      NaN       1
3089        lt $1000                    2   3      NaN       1
3090  $25000 or more                    2   1      NaN       0
3091  $25000 or more                    2   2      5.0       0
3092  $25000 or more                    4   3      NaN       0
3093  $25000 or more                    1   1      2.0       0
3094  $25000 or more                    5   2      2.0       1
3095  $25000 or more                    9   1      2.0       1
3096  $25000 or more                    1   1      NaN       1
3097   $4000 to 4999                    4   1      4.0       0
3098  $25000 or more                    7   2      3.0       0
3099   $8000 to 9999                    1   1      2.0       0
3100  $25000 or more                    6   2      2.0       1
3101  $25000 or more                    5   1      1.0       0
3102  $25000 or more                    2   3      2.0       1
3103  $25000 or more                    3   3      NaN       0
3104   $4000 to 4999                    6   1      NaN       1

[3105 rows x 17 columns]

In [47]:
dx=pd.Series.unique(df1['divorce'])
print (dx)

[nan 'yes' 'no']

In [48]:
df1['divorce']=df1['divorce'].fillna(0)
df1.divorce.replace( ('yes', 'no'),(1, -1), inplace=True)
print(df1)

               id  alcohol_consumption location_class  workstatus  score  \
0         citzen1                    1              A           1   43.0
1       citzen100                    1            NaN           1   42.0
2     citzen10007                    2              B           2   21.0
3     citzen10010                    1              A           1   46.0
4     citzen10023                    3              F           3   36.0
5     citzen10039                    4              D           1   42.0
6     citzen10046                    5              A           1   51.0
7      citzen1005                    4              D           1   51.0
8     citzen10054                    5              F           1   31.0
9     citzen10057                    6              E           2   22.0
10    citzen10061                    5              E           3   39.0
11    citzen10064                    6              A           2   23.0
12    citzen10067                    0              F           4   49.0
13    citzen10072                    6              F           1   41.0
14    citzen10073                    6              B           5   50.0
15    citzen10076                    6              G           1   59.0
16    citzen10077                    5              A           1   39.0
17    citzen10079                    6              G           1   51.0
18    citzen10081                    7              D           3   22.0
19    citzen10083                    7              A           1   42.0
20    citzen10084                    5              C           1   60.0
21    citzen10093                    3              A           5    NaN
22    citzen10097                    7              A           5   35.0
23    citzen10098                    1              C           5   46.0
24    citzen10099                    7              C           3   51.0
25    citzen10100                    5              D           1   51.0
26    citzen10101                    6              G           1   29.0
27    citzen10105                    7              B           1   44.0
28     citzen1011                    3              B           5    NaN
29    citzen10111                    0            NaN           1   24.0
...           ...                  ...            ...         ...    ...
3075    citzen986                    4              A           1   65.0
3076   citzen9863                    4              C           8   50.0
3077   citzen9866                    6              G           1   33.0
3078   citzen9873                    2              C           2   66.0
3079   citzen9874                    2              D           1   30.0
3080   citzen9877                    2              F           5   17.0
3081   citzen9887                    4              A           1   44.0
3082   citzen9890                    7              E           3   42.0
3083   citzen9894                    6              G           2   43.0
3084   citzen9902                    7              E           1   44.0
3085   citzen9903                    7              B           3   46.0
3086   citzen9909                    5              F           5   66.0
3087    citzen991                    6              F           5   64.0
3088   citzen9923                    1              F           1   36.0
3089   citzen9927                    3              B           2   22.0
3090   citzen9929                    1              D           1   66.0
3091   citzen9937                    3              B           1   44.0
3092   citzen9938                    3              D           1   39.0
3093   citzen9943                    1              A           1   64.0
3094   citzen9946                    2              D           1   59.0
3095   citzen9948                    4              B           1   69.0
3096   citzen9961                    1              C           1   55.0
3097   citzen9966                    1              B           3   32.0
3098   citzen9971                    6              A           1   86.0
3099   citzen9979                    7              C           1   28.0
3100   citzen9980                    1              E           1   51.0
3101   citzen9988                    2              G           2   29.0
3102    citzen999                    7              C           1   28.0
3103   citzen9993                    5              D           1   51.0
3104   citzen9998                    4              B           2   24.0

      divorce  widowed  education residence_region  babies  preteen  teens  \
0           0       -1       12.0  e. nor. central     0.0      0.0    0.0
1           1       -1       12.0   south atlantic     0.0      0.0    0.0
2           1        1       13.0  e. nor. central     0.0      0.0    0.0
3           1        0       12.0   south atlantic     0.0      0.0    0.0
4           0        0       12.0   south atlantic     0.0      0.0    0.0
5           0        0        NaN          foreign     0.0      0.0    0.0
6          -1       -1       13.0  e. nor. central     1.0      0.0    0.0
7           1       -1       14.0  middle atlantic     0.0      0.0    0.0
8           0        0       14.0   south atlantic     0.0      2.0    0.0
9           0        0       11.0  w. sou. central     0.0      0.0    0.0
10          0        0       12.0  e. nor. central     0.0      0.0    0.0
11         -1        0        8.0  w. sou. central     0.0      0.0    0.0
12          1        0       14.0  e. nor. central     0.0      0.0    0.0
13          0       -1       16.0   south atlantic     0.0      0.0    0.0
14         -1        0       12.0  w. nor. central     0.0      0.0    0.0
15          0       -1       18.0  w. sou. central     0.0      0.0    0.0
16         -1       -1       16.0          pacific     0.0      0.0    0.0
17         -1       -1        9.0          foreign     0.0      0.0    0.0
18          0        0       19.0  e. nor. central     0.0      0.0    0.0
19          0       -1        8.0   south atlantic     0.0      0.0    0.0
20          1        0       20.0  w. sou. central     1.0      0.0    0.0
21         -1       -1        8.0  middle atlantic     0.0      0.0    0.0
22          0       -1       10.0  middle atlantic     0.0      0.0    0.0
23         -1        0       13.0  w. sou. central     0.0      0.0    0.0
24          1        0       16.0  e. nor. central     0.0      0.0    0.0
25          0        0       16.0          pacific     0.0      0.0    0.0
26          0        0       14.0  w. sou. central     0.0      0.0    0.0
27         -1       -1       12.0   south atlantic     0.0      0.0    2.0
28         -1        0       20.0  w. nor. central     0.0      0.0    0.0
29          0        0       11.0   south atlantic     0.0      0.0    0.0
...       ...      ...        ...              ...     ...      ...    ...
3075        0        0       16.0         mountain     0.0      2.0    0.0
3076       -1       -1       14.0          foreign     0.0      3.0    2.0
3077       -1       -1       16.0  middle atlantic     0.0      0.0    0.0
3078       -1        0       16.0  middle atlantic     0.0      0.0    0.0
3079        0        0       13.0          pacific     0.0      0.0    0.0
3080       -1       -1        8.0  e. sou. central     0.0      0.0    0.0
3081       -1       -1       14.0         mountain     0.0      0.0    1.0
3082       -1       -1       14.0  middle atlantic     0.0      0.0    0.0
3083       -1       -1       12.0   south atlantic     0.0      0.0    1.0
3084        1       -1       16.0         mountain     0.0      0.0    0.0
3085       -1       -1       12.0   south atlantic     0.0      0.0    0.0
3086       -1        0       16.0  e. nor. central     0.0      0.0    0.0
3087       -1        0       18.0  middle atlantic     0.0      0.0    0.0
3088        0        0       16.0  middle atlantic     0.0      0.0    0.0
3089        0       -1        9.0  e. sou. central     1.0      0.0    0.0
3090        0        0       16.0   south atlantic     0.0      0.0    0.0
3091        0       -1       14.0          pacific     0.0      0.0    0.0
3092        0       -1        8.0   south atlantic     0.0      0.0    0.0
3093        1       -1       18.0  w. sou. central     0.0      1.0    0.0
3094       -1       -1       14.0  middle atlantic     0.0      0.0    0.0
3095        0       -1       20.0  w. nor. central     0.0      0.0    0.0
3096       -1       -1       14.0  e. nor. central     0.0      0.0    0.0
3097        0        0       15.0          pacific     0.0      0.0    0.0
3098       -1       -1       18.0          foreign     0.0      0.0    2.0
3099        0        0       15.0  middle atlantic     0.0      0.0    0.0
3100        0       -1       16.0          pacific     0.0      0.0    0.0
3101        0        0       13.0   south atlantic     0.0      0.0    0.0
3102       -1       -1       13.0          foreign     0.0      2.0    0.0
3103        0        0       12.0  e. sou. central     0.0      0.0    0.0
3104       -1        0        8.0   south atlantic     0.0      0.0    0.0

              income  engagement_religion  x1  tvhours  gender
0                NaN                    1   2      3.0       0
1     $25000 or more                    2   2      3.0       0
2     $10000 - 14999                    3   3      NaN       1
3     $25000 or more                    1   1      1.0       1
4     $25000 or more                    3   2      4.0       0
5     $25000 or more                    4   1      NaN       1
6     $25000 or more                    5   3      4.0       0
7     $25000 or more                    6   2      1.0       0
8     $25000 or more                    7   2      1.0       1
9      $3000 to 3999                    7   2      5.0       1
10    $25000 or more                    4   1      NaN       0
11               NaN                    8   2      1.0       1
12    $25000 or more                    3   3      NaN       1
13               NaN                    0   1      4.0       0
14    $25000 or more                    3   2      6.0       1
15    $25000 or more                    2   3      NaN       0
16    $15000 - 19999                    4   2      2.0       0
17    $25000 or more                    3   1      2.0       0
18    $25000 or more                    8   3      NaN       0
19               NaN                    0   1      3.0       1
20    $25000 or more                    4   3      2.0       0
21          lt $1000                    3   2      6.0       0
22     $8000 to 9999                    3   3      NaN       0
23               NaN                    3   1      2.0       1
24               NaN                    3   1      2.0       1
25    $25000 or more                    1   3      3.0       0
26    $25000 or more                    7   1      NaN       1
27    $20000 - 24999                    5   1      6.0       1
28     $6000 to 6999                    3   3      0.0       1
29    $15000 - 19999                    9   3      5.0       1
...              ...                  ...  ..      ...     ...
3075  $25000 or more                    4   3      NaN       0
3076  $25000 or more                    5   1      3.0       0
3077  $25000 or more                    5   2      3.0       0
3078  $25000 or more                    8   1      4.0       1
3079  $25000 or more                    6   3      1.0       0
3080             NaN                    8   2      1.0       1
3081  $25000 or more                    9   2      3.0       1
3082  $25000 or more                    5   3      NaN       1
3083  $25000 or more                    5   3      1.0       1
3084  $25000 or more                    9   2      3.0       0
3085  $25000 or more                    5   3      NaN       1
3086             NaN                    3   1      4.0       1
3087  $20000 - 24999                    7   1      2.0       1
3088  $25000 or more                    3   1      NaN       1
3089        lt $1000                    2   3      NaN       1
3090  $25000 or more                    2   1      NaN       0
3091  $25000 or more                    2   2      5.0       0
3092  $25000 or more                    4   3      NaN       0
3093  $25000 or more                    1   1      2.0       0
3094  $25000 or more                    5   2      2.0       1
3095  $25000 or more                    9   1      2.0       1
3096  $25000 or more                    1   1      NaN       1
3097   $4000 to 4999                    4   1      4.0       0
3098  $25000 or more                    7   2      3.0       0
3099   $8000 to 9999                    1   1      2.0       0
3100  $25000 or more                    6   2      2.0       1
3101  $25000 or more                    5   1      1.0       0
3102  $25000 or more                    2   3      2.0       1
3103  $25000 or more                    3   3      NaN       0
3104   $4000 to 4999                    6   1      NaN       1

[3105 rows x 17 columns]

In [50]:
dx=pd.Series.unique(df1['income'])
print (dx)

[nan '$25000 or more' '$10000 - 14999' '$3000 to 3999' '$15000 - 19999'
 'lt $1000' '$8000 to 9999' '$20000 - 24999' '$6000 to 6999'
 '$7000 to 7999' '$5000 to 5999' '$4000 to 4999' '$1000 to 2999']

In [51]:
df1['income']=df1['income'].fillna(0)
df1.income.replace( ('$25000 or more', '$10000 - 14999' ,'$3000 to 3999' ,'$15000 - 19999', 'lt $1000' ,'$8000 to 9999' ,'$20000 - 24999' ,'$6000 to 6999', '$7000 to 7999', '$5000 to 5999' ,'$4000 to 4999' ,'$1000 to 2999'),(1, 2,3,4,5,6,7,8,9,10,11,12), inplace=True)
print(df1)

               id  alcohol_consumption location_class  workstatus  score  \
0         citzen1                    1              A           1   43.0
1       citzen100                    1            NaN           1   42.0
2     citzen10007                    2              B           2   21.0
3     citzen10010                    1              A           1   46.0
4     citzen10023                    3              F           3   36.0
5     citzen10039                    4              D           1   42.0
6     citzen10046                    5              A           1   51.0
7      citzen1005                    4              D           1   51.0
8     citzen10054                    5              F           1   31.0
9     citzen10057                    6              E           2   22.0
10    citzen10061                    5              E           3   39.0
11    citzen10064                    6              A           2   23.0
12    citzen10067                    0              F           4   49.0
13    citzen10072                    6              F           1   41.0
14    citzen10073                    6              B           5   50.0
15    citzen10076                    6              G           1   59.0
16    citzen10077                    5              A           1   39.0
17    citzen10079                    6              G           1   51.0
18    citzen10081                    7              D           3   22.0
19    citzen10083                    7              A           1   42.0
20    citzen10084                    5              C           1   60.0
21    citzen10093                    3              A           5    NaN
22    citzen10097                    7              A           5   35.0
23    citzen10098                    1              C           5   46.0
24    citzen10099                    7              C           3   51.0
25    citzen10100                    5              D           1   51.0
26    citzen10101                    6              G           1   29.0
27    citzen10105                    7              B           1   44.0
28     citzen1011                    3              B           5    NaN
29    citzen10111                    0            NaN           1   24.0
...           ...                  ...            ...         ...    ...
3075    citzen986                    4              A           1   65.0
3076   citzen9863                    4              C           8   50.0
3077   citzen9866                    6              G           1   33.0
3078   citzen9873                    2              C           2   66.0
3079   citzen9874                    2              D           1   30.0
3080   citzen9877                    2              F           5   17.0
3081   citzen9887                    4              A           1   44.0
3082   citzen9890                    7              E           3   42.0
3083   citzen9894                    6              G           2   43.0
3084   citzen9902                    7              E           1   44.0
3085   citzen9903                    7              B           3   46.0
3086   citzen9909                    5              F           5   66.0
3087    citzen991                    6              F           5   64.0
3088   citzen9923                    1              F           1   36.0
3089   citzen9927                    3              B           2   22.0
3090   citzen9929                    1              D           1   66.0
3091   citzen9937                    3              B           1   44.0
3092   citzen9938                    3              D           1   39.0
3093   citzen9943                    1              A           1   64.0
3094   citzen9946                    2              D           1   59.0
3095   citzen9948                    4              B           1   69.0
3096   citzen9961                    1              C           1   55.0
3097   citzen9966                    1              B           3   32.0
3098   citzen9971                    6              A           1   86.0
3099   citzen9979                    7              C           1   28.0
3100   citzen9980                    1              E           1   51.0
3101   citzen9988                    2              G           2   29.0
3102    citzen999                    7              C           1   28.0
3103   citzen9993                    5              D           1   51.0
3104   citzen9998                    4              B           2   24.0

      divorce  widowed  education residence_region  babies  preteen  teens  \
0           0       -1       12.0  e. nor. central     0.0      0.0    0.0
1           1       -1       12.0   south atlantic     0.0      0.0    0.0
2           1        1       13.0  e. nor. central     0.0      0.0    0.0
3           1        0       12.0   south atlantic     0.0      0.0    0.0
4           0        0       12.0   south atlantic     0.0      0.0    0.0
5           0        0        NaN          foreign     0.0      0.0    0.0
6          -1       -1       13.0  e. nor. central     1.0      0.0    0.0
7           1       -1       14.0  middle atlantic     0.0      0.0    0.0
8           0        0       14.0   south atlantic     0.0      2.0    0.0
9           0        0       11.0  w. sou. central     0.0      0.0    0.0
10          0        0       12.0  e. nor. central     0.0      0.0    0.0
11         -1        0        8.0  w. sou. central     0.0      0.0    0.0
12          1        0       14.0  e. nor. central     0.0      0.0    0.0
13          0       -1       16.0   south atlantic     0.0      0.0    0.0
14         -1        0       12.0  w. nor. central     0.0      0.0    0.0
15          0       -1       18.0  w. sou. central     0.0      0.0    0.0
16         -1       -1       16.0          pacific     0.0      0.0    0.0
17         -1       -1        9.0          foreign     0.0      0.0    0.0
18          0        0       19.0  e. nor. central     0.0      0.0    0.0
19          0       -1        8.0   south atlantic     0.0      0.0    0.0
20          1        0       20.0  w. sou. central     1.0      0.0    0.0
21         -1       -1        8.0  middle atlantic     0.0      0.0    0.0
22          0       -1       10.0  middle atlantic     0.0      0.0    0.0
23         -1        0       13.0  w. sou. central     0.0      0.0    0.0
24          1        0       16.0  e. nor. central     0.0      0.0    0.0
25          0        0       16.0          pacific     0.0      0.0    0.0
26          0        0       14.0  w. sou. central     0.0      0.0    0.0
27         -1       -1       12.0   south atlantic     0.0      0.0    2.0
28         -1        0       20.0  w. nor. central     0.0      0.0    0.0
29          0        0       11.0   south atlantic     0.0      0.0    0.0
...       ...      ...        ...              ...     ...      ...    ...
3075        0        0       16.0         mountain     0.0      2.0    0.0
3076       -1       -1       14.0          foreign     0.0      3.0    2.0
3077       -1       -1       16.0  middle atlantic     0.0      0.0    0.0
3078       -1        0       16.0  middle atlantic     0.0      0.0    0.0
3079        0        0       13.0          pacific     0.0      0.0    0.0
3080       -1       -1        8.0  e. sou. central     0.0      0.0    0.0
3081       -1       -1       14.0         mountain     0.0      0.0    1.0
3082       -1       -1       14.0  middle atlantic     0.0      0.0    0.0
3083       -1       -1       12.0   south atlantic     0.0      0.0    1.0
3084        1       -1       16.0         mountain     0.0      0.0    0.0
3085       -1       -1       12.0   south atlantic     0.0      0.0    0.0
3086       -1        0       16.0  e. nor. central     0.0      0.0    0.0
3087       -1        0       18.0  middle atlantic     0.0      0.0    0.0
3088        0        0       16.0  middle atlantic     0.0      0.0    0.0
3089        0       -1        9.0  e. sou. central     1.0      0.0    0.0
3090        0        0       16.0   south atlantic     0.0      0.0    0.0
3091        0       -1       14.0          pacific     0.0      0.0    0.0
3092        0       -1        8.0   south atlantic     0.0      0.0    0.0
3093        1       -1       18.0  w. sou. central     0.0      1.0    0.0
3094       -1       -1       14.0  middle atlantic     0.0      0.0    0.0
3095        0       -1       20.0  w. nor. central     0.0      0.0    0.0
3096       -1       -1       14.0  e. nor. central     0.0      0.0    0.0
3097        0        0       15.0          pacific     0.0      0.0    0.0
3098       -1       -1       18.0          foreign     0.0      0.0    2.0
3099        0        0       15.0  middle atlantic     0.0      0.0    0.0
3100        0       -1       16.0          pacific     0.0      0.0    0.0
3101        0        0       13.0   south atlantic     0.0      0.0    0.0
3102       -1       -1       13.0          foreign     0.0      2.0    0.0
3103        0        0       12.0  e. sou. central     0.0      0.0    0.0
3104       -1        0        8.0   south atlantic     0.0      0.0    0.0

      income  engagement_religion  x1  tvhours  gender
0          0                    1   2      3.0       0
1          1                    2   2      3.0       0
2          2                    3   3      NaN       1
3          1                    1   1      1.0       1
4          1                    3   2      4.0       0
5          1                    4   1      NaN       1
6          1                    5   3      4.0       0
7          1                    6   2      1.0       0
8          1                    7   2      1.0       1
9          3                    7   2      5.0       1
10         1                    4   1      NaN       0
11         0                    8   2      1.0       1
12         1                    3   3      NaN       1
13         0                    0   1      4.0       0
14         1                    3   2      6.0       1
15         1                    2   3      NaN       0
16         4                    4   2      2.0       0
17         1                    3   1      2.0       0
18         1                    8   3      NaN       0
19         0                    0   1      3.0       1
20         1                    4   3      2.0       0
21         5                    3   2      6.0       0
22         6                    3   3      NaN       0
23         0                    3   1      2.0       1
24         0                    3   1      2.0       1
25         1                    1   3      3.0       0
26         1                    7   1      NaN       1
27         7                    5   1      6.0       1
28         8                    3   3      0.0       1
29         4                    9   3      5.0       1
...      ...                  ...  ..      ...     ...
3075       1                    4   3      NaN       0
3076       1                    5   1      3.0       0
3077       1                    5   2      3.0       0
3078       1                    8   1      4.0       1
3079       1                    6   3      1.0       0
3080       0                    8   2      1.0       1
3081       1                    9   2      3.0       1
3082       1                    5   3      NaN       1
3083       1                    5   3      1.0       1
3084       1                    9   2      3.0       0
3085       1                    5   3      NaN       1
3086       0                    3   1      4.0       1
3087       7                    7   1      2.0       1
3088       1                    3   1      NaN       1
3089       5                    2   3      NaN       1
3090       1                    2   1      NaN       0
3091       1                    2   2      5.0       0
3092       1                    4   3      NaN       0
3093       1                    1   1      2.0       0
3094       1                    5   2      2.0       1
3095       1                    9   1      2.0       1
3096       1                    1   1      NaN       1
3097      11                    4   1      4.0       0
3098       1                    7   2      3.0       0
3099       6                    1   1      2.0       0
3100       1                    6   2      2.0       1
3101       1                    5   1      1.0       0
3102       1                    2   3      2.0       1
3103       1                    3   3      NaN       0
3104      11                    6   1      NaN       1

[3105 rows x 17 columns]

In [52]:
dx=pd.Series.unique(df1['residence_region'])
print (dx)

['e. nor. central' 'south atlantic' 'foreign' 'middle atlantic'
 'w. sou. central' 'w. nor. central' 'pacific' 'mountain' 'new england'
 'e. sou. central']

In [53]:

df1.residence_region.replace( ('e. nor. central' ,'south atlantic', 'foreign', 'middle atlantic', 'w. sou. central', 'w. nor. central', 'pacific' ,'mountain', 'new england', 'e. sou. central'),(1, 2,3,4,5,6,7,8,9,10), inplace=True)
print(df1)

               id  alcohol_consumption location_class  workstatus  score  \
0         citzen1                    1              A           1   43.0
1       citzen100                    1            NaN           1   42.0
2     citzen10007                    2              B           2   21.0
3     citzen10010                    1              A           1   46.0
4     citzen10023                    3              F           3   36.0
5     citzen10039                    4              D           1   42.0
6     citzen10046                    5              A           1   51.0
7      citzen1005                    4              D           1   51.0
8     citzen10054                    5              F           1   31.0
9     citzen10057                    6              E           2   22.0
10    citzen10061                    5              E           3   39.0
11    citzen10064                    6              A           2   23.0
12    citzen10067                    0              F           4   49.0
13    citzen10072                    6              F           1   41.0
14    citzen10073                    6              B           5   50.0
15    citzen10076                    6              G           1   59.0
16    citzen10077                    5              A           1   39.0
17    citzen10079                    6              G           1   51.0
18    citzen10081                    7              D           3   22.0
19    citzen10083                    7              A           1   42.0
20    citzen10084                    5              C           1   60.0
21    citzen10093                    3              A           5    NaN
22    citzen10097                    7              A           5   35.0
23    citzen10098                    1              C           5   46.0
24    citzen10099                    7              C           3   51.0
25    citzen10100                    5              D           1   51.0
26    citzen10101                    6              G           1   29.0
27    citzen10105                    7              B           1   44.0
28     citzen1011                    3              B           5    NaN
29    citzen10111                    0            NaN           1   24.0
...           ...                  ...            ...         ...    ...
3075    citzen986                    4              A           1   65.0
3076   citzen9863                    4              C           8   50.0
3077   citzen9866                    6              G           1   33.0
3078   citzen9873                    2              C           2   66.0
3079   citzen9874                    2              D           1   30.0
3080   citzen9877                    2              F           5   17.0
3081   citzen9887                    4              A           1   44.0
3082   citzen9890                    7              E           3   42.0
3083   citzen9894                    6              G           2   43.0
3084   citzen9902                    7              E           1   44.0
3085   citzen9903                    7              B           3   46.0
3086   citzen9909                    5              F           5   66.0
3087    citzen991                    6              F           5   64.0
3088   citzen9923                    1              F           1   36.0
3089   citzen9927                    3              B           2   22.0
3090   citzen9929                    1              D           1   66.0
3091   citzen9937                    3              B           1   44.0
3092   citzen9938                    3              D           1   39.0
3093   citzen9943                    1              A           1   64.0
3094   citzen9946                    2              D           1   59.0
3095   citzen9948                    4              B           1   69.0
3096   citzen9961                    1              C           1   55.0
3097   citzen9966                    1              B           3   32.0
3098   citzen9971                    6              A           1   86.0
3099   citzen9979                    7              C           1   28.0
3100   citzen9980                    1              E           1   51.0
3101   citzen9988                    2              G           2   29.0
3102    citzen999                    7              C           1   28.0
3103   citzen9993                    5              D           1   51.0
3104   citzen9998                    4              B           2   24.0

      divorce  widowed  education  residence_region  babies  preteen  teens  \
0           0       -1       12.0                 1     0.0      0.0    0.0
1           1       -1       12.0                 2     0.0      0.0    0.0
2           1        1       13.0                 1     0.0      0.0    0.0
3           1        0       12.0                 2     0.0      0.0    0.0
4           0        0       12.0                 2     0.0      0.0    0.0
5           0        0        NaN                 3     0.0      0.0    0.0
6          -1       -1       13.0                 1     1.0      0.0    0.0
7           1       -1       14.0                 4     0.0      0.0    0.0
8           0        0       14.0                 2     0.0      2.0    0.0
9           0        0       11.0                 5     0.0      0.0    0.0
10          0        0       12.0                 1     0.0      0.0    0.0
11         -1        0        8.0                 5     0.0      0.0    0.0
12          1        0       14.0                 1     0.0      0.0    0.0
13          0       -1       16.0                 2     0.0      0.0    0.0
14         -1        0       12.0                 6     0.0      0.0    0.0
15          0       -1       18.0                 5     0.0      0.0    0.0
16         -1       -1       16.0                 7     0.0      0.0    0.0
17         -1       -1        9.0                 3     0.0      0.0    0.0
18          0        0       19.0                 1     0.0      0.0    0.0
19          0       -1        8.0                 2     0.0      0.0    0.0
20          1        0       20.0                 5     1.0      0.0    0.0
21         -1       -1        8.0                 4     0.0      0.0    0.0
22          0       -1       10.0                 4     0.0      0.0    0.0
23         -1        0       13.0                 5     0.0      0.0    0.0
24          1        0       16.0                 1     0.0      0.0    0.0
25          0        0       16.0                 7     0.0      0.0    0.0
26          0        0       14.0                 5     0.0      0.0    0.0
27         -1       -1       12.0                 2     0.0      0.0    2.0
28         -1        0       20.0                 6     0.0      0.0    0.0
29          0        0       11.0                 2     0.0      0.0    0.0
...       ...      ...        ...               ...     ...      ...    ...
3075        0        0       16.0                 8     0.0      2.0    0.0
3076       -1       -1       14.0                 3     0.0      3.0    2.0
3077       -1       -1       16.0                 4     0.0      0.0    0.0
3078       -1        0       16.0                 4     0.0      0.0    0.0
3079        0        0       13.0                 7     0.0      0.0    0.0
3080       -1       -1        8.0                10     0.0      0.0    0.0
3081       -1       -1       14.0                 8     0.0      0.0    1.0
3082       -1       -1       14.0                 4     0.0      0.0    0.0
3083       -1       -1       12.0                 2     0.0      0.0    1.0
3084        1       -1       16.0                 8     0.0      0.0    0.0
3085       -1       -1       12.0                 2     0.0      0.0    0.0
3086       -1        0       16.0                 1     0.0      0.0    0.0
3087       -1        0       18.0                 4     0.0      0.0    0.0
3088        0        0       16.0                 4     0.0      0.0    0.0
3089        0       -1        9.0                10     1.0      0.0    0.0
3090        0        0       16.0                 2     0.0      0.0    0.0
3091        0       -1       14.0                 7     0.0      0.0    0.0
3092        0       -1        8.0                 2     0.0      0.0    0.0
3093        1       -1       18.0                 5     0.0      1.0    0.0
3094       -1       -1       14.0                 4     0.0      0.0    0.0
3095        0       -1       20.0                 6     0.0      0.0    0.0
3096       -1       -1       14.0                 1     0.0      0.0    0.0
3097        0        0       15.0                 7     0.0      0.0    0.0
3098       -1       -1       18.0                 3     0.0      0.0    2.0
3099        0        0       15.0                 4     0.0      0.0    0.0
3100        0       -1       16.0                 7     0.0      0.0    0.0
3101        0        0       13.0                 2     0.0      0.0    0.0
3102       -1       -1       13.0                 3     0.0      2.0    0.0
3103        0        0       12.0                10     0.0      0.0    0.0
3104       -1        0        8.0                 2     0.0      0.0    0.0

      income  engagement_religion  x1  tvhours  gender
0          0                    1   2      3.0       0
1          1                    2   2      3.0       0
2          2                    3   3      NaN       1
3          1                    1   1      1.0       1
4          1                    3   2      4.0       0
5          1                    4   1      NaN       1
6          1                    5   3      4.0       0
7          1                    6   2      1.0       0
8          1                    7   2      1.0       1
9          3                    7   2      5.0       1
10         1                    4   1      NaN       0
11         0                    8   2      1.0       1
12         1                    3   3      NaN       1
13         0                    0   1      4.0       0
14         1                    3   2      6.0       1
15         1                    2   3      NaN       0
16         4                    4   2      2.0       0
17         1                    3   1      2.0       0
18         1                    8   3      NaN       0
19         0                    0   1      3.0       1
20         1                    4   3      2.0       0
21         5                    3   2      6.0       0
22         6                    3   3      NaN       0
23         0                    3   1      2.0       1
24         0                    3   1      2.0       1
25         1                    1   3      3.0       0
26         1                    7   1      NaN       1
27         7                    5   1      6.0       1
28         8                    3   3      0.0       1
29         4                    9   3      5.0       1
...      ...                  ...  ..      ...     ...
3075       1                    4   3      NaN       0
3076       1                    5   1      3.0       0
3077       1                    5   2      3.0       0
3078       1                    8   1      4.0       1
3079       1                    6   3      1.0       0
3080       0                    8   2      1.0       1
3081       1                    9   2      3.0       1
3082       1                    5   3      NaN       1
3083       1                    5   3      1.0       1
3084       1                    9   2      3.0       0
3085       1                    5   3      NaN       1
3086       0                    3   1      4.0       1
3087       7                    7   1      2.0       1
3088       1                    3   1      NaN       1
3089       5                    2   3      NaN       1
3090       1                    2   1      NaN       0
3091       1                    2   2      5.0       0
3092       1                    4   3      NaN       0
3093       1                    1   1      2.0       0
3094       1                    5   2      2.0       1
3095       1                    9   1      2.0       1
3096       1                    1   1      NaN       1
3097      11                    4   1      4.0       0
3098       1                    7   2      3.0       0
3099       6                    1   1      2.0       0
3100       1                    6   2      2.0       1
3101       1                    5   1      1.0       0
3102       1                    2   3      2.0       1
3103       1                    3   3      NaN       0
3104      11                    6   1      NaN       1

[3105 rows x 17 columns]

In [54]:
df1['location_class']=df1['location_class'].fillna(0)
df1['score']=df1['score'].fillna(0)
df1['education']=df1['education'].fillna(0)
df1['tvhours']=df1['tvhours'].fillna(0)

In [ ]:
print dfx