In [2]:
 #Required Python Machine learning Packages
import pandas as pd
import numpy as np
# For preprocessing the data
from sklearn.preprocessing import Imputer
from sklearn import preprocessing
# To split the dataset into train and test datasets
from sklearn.cross_validation import train_test_split
# To model the Gaussian Navie Bayes classifier
from sklearn.naive_bayes import GaussianNB
# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score

/usr/lib/python2.7/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
adult_df = pd.read_csv('adult.data',
                       header = None, delimiter=' *, *', engine='python')
adult_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [8]:
adult_df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num',
                    'marital_status', 'occupation', 'relationship',
                    'race', 'sex', 'capital_gain', 'capital_loss',
                    'hours_per_week', 'native_country', 'income']
adult_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
adult_df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [10]:
for value in ['workclass', 'education',
          'marital_status', 'occupation',
          'relationship','race', 'sex',
          'native_country', 'income']:
    print value,":", sum(adult_df[value] == '?')

workclass : 1836
education : 0
marital_status : 0
occupation : 1843
relationship : 0
race : 0
sex : 0
native_country : 583
income : 0

In [11]:
adult_df_rev = adult_df

In [14]:
adult_df_rev.describe(include= 'all')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [16]:
for value in ['workclass', 'education',
           'marital_status', 'occupation',
          'relationship','race', 'sex',
          'native_country', 'income']:
    adult_df_rev[value].replace(['?'], [adult_df_rev.describe(include='all')[value][2]],
                                inplace=True)

In [17]:
adult_df_rev.describe(include= 'all')

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,8,NaN,16,NaN,7,14,6,5,2,NaN,NaN,NaN,41,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,24532,NaN,10501,NaN,14976,5983,13193,27816,21790,NaN,NaN,NaN,29753,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [18]:
le = preprocessing.LabelEncoder()
workclass_cat = le.fit_transform(adult_df.workclass)
education_cat = le.fit_transform(adult_df.education)
marital_cat   = le.fit_transform(adult_df.marital_status)
occupation_cat = le.fit_transform(adult_df.occupation)
relationship_cat = le.fit_transform(adult_df.relationship)
race_cat = le.fit_transform(adult_df.race)
sex_cat = le.fit_transform(adult_df.sex)
native_country_cat = le.fit_transform(adult_df.native_country)

In [19]:
adult_df_rev['workclass_cat'] = workclass_cat
adult_df_rev['education_cat'] = education_cat
adult_df_rev['marital_cat'] = marital_cat
adult_df_rev['occupation_cat'] = occupation_cat
adult_df_rev['relationship_cat'] = relationship_cat
adult_df_rev['race_cat'] = race_cat
adult_df_rev['sex_cat'] = sex_cat
adult_df_rev['native_country_cat'] = native_country_cat
adult_df_rev

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,...,native_country,income,workclass_cat,education_cat,marital_cat,occupation_cat,relationship_cat,race_cat,sex_cat,native_country_cat
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,...,United-States,<=50K,6,9,4,0,1,4,1,38
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,United-States,<=50K,5,9,2,3,0,4,1,38
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,...,United-States,<=50K,3,11,0,5,1,4,1,38
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,...,United-States,<=50K,3,1,2,5,0,2,1,38
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,...,Cuba,<=50K,3,9,2,9,5,2,0,4
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,...,United-States,<=50K,3,12,2,3,5,4,0,38
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,...,Jamaica,<=50K,3,6,3,7,1,2,0,22
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,United-States,>50K,5,11,2,3,0,4,1,38
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,...,United-States,>50K,3,12,4,9,1,4,0,38
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,United-States,>50K,3,9,2,3,0,4,1,38
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,...,United-States,>50K,3,15,2,3,0,2,1,38
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,...,India,>50K,6,9,2,9,0,1,1,18
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,...,United-States,<=50K,3,9,4,0,3,4,0,38
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,...,United-States,<=50K,3,7,4,11,1,2,1,38
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,...,United-States,>50K,3,8,2,2,0,1,1,38
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,...,Mexico,<=50K,3,5,2,13,0,0,1,25
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,...,United-States,<=50K,5,11,4,4,3,4,1,38
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,...,United-States,<=50K,3,11,4,6,4,4,1,38
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,...,United-States,<=50K,3,1,2,11,0,4,1,38
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,...,United-States,>50K,5,12,0,3,4,4,0,38
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,United-States,>50K,3,10,2,9,0,4,1,38
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,...,United-States,<=50K,3,11,5,7,4,2,0,38
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,...,United-States,<=50K,0,6,2,4,0,2,1,38
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,...,United-States,<=50K,3,1,2,13,0,4,1,38
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,...,United-States,<=50K,3,11,0,12,4,4,0,38
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,...,United-States,>50K,1,9,2,12,0,4,1,38
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,...,United-States,<=50K,3,11,4,2,3,4,1,38
27,54,Private,180211,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,...,South,>50K,3,15,2,9,0,1,1,34
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,...,United-States,<=50K,3,11,0,3,1,4,1,38
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,...,United-States,<=50K,3,11,2,2,0,4,1,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,Private,33811,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Female,...,United-States,<=50K,3,9,4,9,1,1,0,38
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,United-States,>50K,3,10,2,9,0,4,1,38
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,...,Japan,>50K,3,9,2,3,0,1,1,23
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,...,United-States,<=50K,3,15,0,0,4,4,0,38
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,...,United-States,<=50K,3,2,4,10,3,2,1,38
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,...,United-States,>50K,3,9,4,3,1,4,0,38
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,...,United-States,<=50K,3,11,4,2,1,2,1,38
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,...,United-States,>50K,3,9,0,9,4,2,0,38
32539,71,Private,287372,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,United-States,>50K,3,10,2,9,0,4,1,38
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,...,United-States,<=50K,6,11,5,0,3,4,0,38
32541,41,Private,202822,HS-grad,9,Separated,Prof-specialty,Not-in-family,Black,Female,...,United-States,<=50K,3,11,5,9,1,2,0,38
32542,72,Private,129912,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,...,United-States,<=50K,3,11,2,9,0,4,1,38
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,...,United-States,<=50K,1,7,0,9,4,4,0,38
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,...,United-States,<=50K,3,12,0,7,1,3,0,38
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,...,United-States,>50K,1,7,2,0,5,4,0,38
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,...,United-States,<=50K,3,7,0,12,1,4,0,38
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,...,Mexico,<=50K,3,11,2,6,0,4,1,25
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,...,United-States,<=50K,5,14,4,9,1,4,1,38
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,...,United-States,<=50K,6,15,0,0,2,4,0,38
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,...,United-States,<=50K,5,15,2,2,0,4,1,38
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,...,United-States,<=50K,3,0,2,5,0,0,1,38
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,...,United-States,<=50K,3,8,2,11,0,4,1,38
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,...,Taiwan,<=50K,3,12,4,12,1,1,1,35
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,...,United-States,>50K,3,12,2,3,0,4,1,38
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,...,United-States,<=50K,3,15,4,10,1,4,1,38
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,...,United-States,<=50K,3,7,2,12,5,4,0,38
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,...,United-States,>50K,3,11,2,6,0,4,1,38
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,...,United-States,<=50K,3,11,6,0,4,4,0,38
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,...,United-States,<=50K,3,11,4,0,3,4,1,38
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,...,United-States,>50K,4,11,2,3,5,4,0,38

In [20]:
dummy_fields = ['workclass', 'education', 'marital_status', 
                  'occupation', 'relationship', 'race',
                  'sex', 'native_country']
adult_df_rev = adult_df_rev.drop(dummy_fields, axis = 1)

In [21]:
adult_df_rev

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_cat,education_cat,marital_cat,occupation_cat,relationship_cat,race_cat,sex_cat,native_country_cat
0,39,77516,13,2174,0,40,<=50K,6,9,4,0,1,4,1,38
1,50,83311,13,0,0,13,<=50K,5,9,2,3,0,4,1,38
2,38,215646,9,0,0,40,<=50K,3,11,0,5,1,4,1,38
3,53,234721,7,0,0,40,<=50K,3,1,2,5,0,2,1,38
4,28,338409,13,0,0,40,<=50K,3,9,2,9,5,2,0,4
5,37,284582,14,0,0,40,<=50K,3,12,2,3,5,4,0,38
6,49,160187,5,0,0,16,<=50K,3,6,3,7,1,2,0,22
7,52,209642,9,0,0,45,>50K,5,11,2,3,0,4,1,38
8,31,45781,14,14084,0,50,>50K,3,12,4,9,1,4,0,38
9,42,159449,13,5178,0,40,>50K,3,9,2,3,0,4,1,38
10,37,280464,10,0,0,80,>50K,3,15,2,3,0,2,1,38
11,30,141297,13,0,0,40,>50K,6,9,2,9,0,1,1,18
12,23,122272,13,0,0,30,<=50K,3,9,4,0,3,4,0,38
13,32,205019,12,0,0,50,<=50K,3,7,4,11,1,2,1,38
14,40,121772,11,0,0,40,>50K,3,8,2,2,0,1,1,38
15,34,245487,4,0,0,45,<=50K,3,5,2,13,0,0,1,25
16,25,176756,9,0,0,35,<=50K,5,11,4,4,3,4,1,38
17,32,186824,9,0,0,40,<=50K,3,11,4,6,4,4,1,38
18,38,28887,7,0,0,50,<=50K,3,1,2,11,0,4,1,38
19,43,292175,14,0,0,45,>50K,5,12,0,3,4,4,0,38
20,40,193524,16,0,0,60,>50K,3,10,2,9,0,4,1,38
21,54,302146,9,0,0,20,<=50K,3,11,5,7,4,2,0,38
22,35,76845,5,0,0,40,<=50K,0,6,2,4,0,2,1,38
23,43,117037,7,0,2042,40,<=50K,3,1,2,13,0,4,1,38
24,59,109015,9,0,0,40,<=50K,3,11,0,12,4,4,0,38
25,56,216851,13,0,0,40,>50K,1,9,2,12,0,4,1,38
26,19,168294,9,0,0,40,<=50K,3,11,4,2,3,4,1,38
27,54,180211,10,0,0,60,>50K,3,15,2,9,0,1,1,34
28,39,367260,9,0,0,80,<=50K,3,11,0,3,1,4,1,38
29,49,193366,9,0,0,40,<=50K,3,11,2,2,0,4,1,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,33811,13,0,0,99,<=50K,3,9,4,9,1,1,0,38
32532,34,204461,16,0,0,60,>50K,3,10,2,9,0,4,1,38
32533,54,337992,13,0,0,50,>50K,3,9,2,3,0,1,1,23
32534,37,179137,10,0,0,39,<=50K,3,15,0,0,4,4,0,38
32535,22,325033,8,0,0,35,<=50K,3,2,4,10,3,2,1,38
32536,34,160216,13,0,0,55,>50K,3,9,4,3,1,4,0,38
32537,30,345898,9,0,0,46,<=50K,3,11,4,2,1,2,1,38
32538,38,139180,13,15020,0,45,>50K,3,9,0,9,4,2,0,38
32539,71,287372,16,0,0,10,>50K,3,10,2,9,0,4,1,38
32540,45,252208,9,0,0,40,<=50K,6,11,5,0,3,4,0,38
32541,41,202822,9,0,0,32,<=50K,3,11,5,9,1,2,0,38
32542,72,129912,9,0,0,25,<=50K,3,11,2,9,0,4,1,38
32543,45,119199,12,0,0,48,<=50K,1,7,0,9,4,4,0,38
32544,31,199655,14,0,0,30,<=50K,3,12,0,7,1,3,0,38
32545,39,111499,12,0,0,20,>50K,1,7,2,0,5,4,0,38
32546,37,198216,12,0,0,40,<=50K,3,7,0,12,1,4,0,38
32547,43,260761,9,0,0,40,<=50K,3,11,2,6,0,4,1,25
32548,65,99359,15,1086,0,60,<=50K,5,14,4,9,1,4,1,38
32549,43,255835,10,0,0,40,<=50K,6,15,0,0,2,4,0,38
32550,43,27242,10,0,0,50,<=50K,5,15,2,2,0,4,1,38
32551,32,34066,6,0,0,40,<=50K,3,0,2,5,0,0,1,38
32552,43,84661,11,0,0,45,<=50K,3,8,2,11,0,4,1,38
32553,32,116138,14,0,0,11,<=50K,3,12,4,12,1,1,1,35
32554,53,321865,14,0,0,40,>50K,3,12,2,3,0,4,1,38
32555,22,310152,10,0,0,40,<=50K,3,15,4,10,1,4,1,38
32556,27,257302,12,0,0,38,<=50K,3,7,2,12,5,4,0,38
32557,40,154374,9,0,0,40,>50K,3,11,2,6,0,4,1,38
32558,58,151910,9,0,0,40,<=50K,3,11,6,0,4,4,0,38
32559,22,201490,9,0,0,20,<=50K,3,11,4,0,3,4,1,38
32560,52,287927,9,15024,0,40,>50K,4,11,2,3,5,4,0,38

In [24]:
adult_df_rev = adult_df_rev.reindex_axis(['age', 'workclass_cat', 'fnlwgt', 'education_cat',
                                    'education_num', 'marital_cat', 'occupation_cat',
                                    'relationship_cat', 'race_cat', 'sex_cat', 'capital_gain',
                                    'capital_loss', 'hours_per_week', 'native_country_cat', 
                                    'income'], axis= 1)
adult_df_rev

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version. Use '.reindex' instead.
  """

,age,workclass_cat,fnlwgt,education_cat,education_num,marital_cat,occupation_cat,relationship_cat,race_cat,sex_cat,capital_gain,capital_loss,hours_per_week,native_country_cat,income
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,<=50K
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,<=50K
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38,<=50K
3,53,3,234721,1,7,2,5,0,2,1,0,0,40,38,<=50K
4,28,3,338409,9,13,2,9,5,2,0,0,0,40,4,<=50K
5,37,3,284582,12,14,2,3,5,4,0,0,0,40,38,<=50K
6,49,3,160187,6,5,3,7,1,2,0,0,0,16,22,<=50K
7,52,5,209642,11,9,2,3,0,4,1,0,0,45,38,>50K
8,31,3,45781,12,14,4,9,1,4,0,14084,0,50,38,>50K
9,42,3,159449,9,13,2,3,0,4,1,5178,0,40,38,>50K
10,37,3,280464,15,10,2,3,0,2,1,0,0,80,38,>50K
11,30,6,141297,9,13,2,9,0,1,1,0,0,40,18,>50K
12,23,3,122272,9,13,4,0,3,4,0,0,0,30,38,<=50K
13,32,3,205019,7,12,4,11,1,2,1,0,0,50,38,<=50K
14,40,3,121772,8,11,2,2,0,1,1,0,0,40,38,>50K
15,34,3,245487,5,4,2,13,0,0,1,0,0,45,25,<=50K
16,25,5,176756,11,9,4,4,3,4,1,0,0,35,38,<=50K
17,32,3,186824,11,9,4,6,4,4,1,0,0,40,38,<=50K
18,38,3,28887,1,7,2,11,0,4,1,0,0,50,38,<=50K
19,43,5,292175,12,14,0,3,4,4,0,0,0,45,38,>50K
20,40,3,193524,10,16,2,9,0,4,1,0,0,60,38,>50K
21,54,3,302146,11,9,5,7,4,2,0,0,0,20,38,<=50K
22,35,0,76845,6,5,2,4,0,2,1,0,0,40,38,<=50K
23,43,3,117037,1,7,2,13,0,4,1,0,2042,40,38,<=50K
24,59,3,109015,11,9,0,12,4,4,0,0,0,40,38,<=50K
25,56,1,216851,9,13,2,12,0,4,1,0,0,40,38,>50K
26,19,3,168294,11,9,4,2,3,4,1,0,0,40,38,<=50K
27,54,3,180211,15,10,2,9,0,1,1,0,0,60,34,>50K
28,39,3,367260,11,9,0,3,1,4,1,0,0,80,38,<=50K
29,49,3,193366,11,9,2,2,0,4,1,0,0,40,38,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,3,33811,9,13,4,9,1,1,0,0,0,99,38,<=50K
32532,34,3,204461,10,16,2,9,0,4,1,0,0,60,38,>50K
32533,54,3,337992,9,13,2,3,0,1,1,0,0,50,23,>50K
32534,37,3,179137,15,10,0,0,4,4,0,0,0,39,38,<=50K
32535,22,3,325033,2,8,4,10,3,2,1,0,0,35,38,<=50K
32536,34,3,160216,9,13,4,3,1,4,0,0,0,55,38,>50K
32537,30,3,345898,11,9,4,2,1,2,1,0,0,46,38,<=50K
32538,38,3,139180,9,13,0,9,4,2,0,15020,0,45,38,>50K
32539,71,3,287372,10,16,2,9,0,4,1,0,0,10,38,>50K
32540,45,6,252208,11,9,5,0,3,4,0,0,0,40,38,<=50K
32541,41,3,202822,11,9,5,9,1,2,0,0,0,32,38,<=50K
32542,72,3,129912,11,9,2,9,0,4,1,0,0,25,38,<=50K
32543,45,1,119199,7,12,0,9,4,4,0,0,0,48,38,<=50K
32544,31,3,199655,12,14,0,7,1,3,0,0,0,30,38,<=50K
32545,39,1,111499,7,12,2,0,5,4,0,0,0,20,38,>50K
32546,37,3,198216,7,12,0,12,1,4,0,0,0,40,38,<=50K
32547,43,3,260761,11,9,2,6,0,4,1,0,0,40,25,<=50K
32548,65,5,99359,14,15,4,9,1,4,1,1086,0,60,38,<=50K
32549,43,6,255835,15,10,0,0,2,4,0,0,0,40,38,<=50K
32550,43,5,27242,15,10,2,2,0,4,1,0,0,50,38,<=50K
32551,32,3,34066,0,6,2,5,0,0,1,0,0,40,38,<=50K
32552,43,3,84661,8,11,2,11,0,4,1,0,0,45,38,<=50K
32553,32,3,116138,12,14,4,12,1,1,1,0,0,11,35,<=50K
32554,53,3,321865,12,14,2,3,0,4,1,0,0,40,38,>50K
32555,22,3,310152,15,10,4,10,1,4,1,0,0,40,38,<=50K
32556,27,3,257302,7,12,2,12,5,4,0,0,0,38,38,<=50K
32557,40,3,154374,11,9,2,6,0,4,1,0,0,40,38,>50K
32558,58,3,151910,11,9,6,0,4,4,0,0,0,40,38,<=50K
32559,22,3,201490,11,9,4,0,3,4,1,0,0,20,38,<=50K
32560,52,4,287927,11,9,2,3,5,4,0,15024,0,40,38,>50K

In [25]:
num_features = ['age', 'workclass_cat', 'fnlwgt', 'education_cat', 'education_num',
                'marital_cat', 'occupation_cat', 'relationship_cat', 'race_cat',
                'sex_cat', 'capital_gain', 'capital_loss', 'hours_per_week',
                'native_country_cat']
 
scaled_features = {}
for each in num_features:
    mean, std = adult_df_rev[each].mean(), adult_df_rev[each].std()
    scaled_features[each] = [mean, std]
    adult_df_rev.loc[:, each] = (adult_df_rev[each] - mean)/std

In [26]:
adult_df_rev

,age,workclass_cat,fnlwgt,education_cat,education_num,marital_cat,occupation_cat,relationship_cat,race_cat,sex_cat,capital_gain,capital_loss,hours_per_week,native_country_cat,income
0,0.030670,2.624257,-1.063594,-0.335432,1.134721,0.921620,-1.545232,-0.277801,0.393661,0.703061,0.148451,-0.216656,-0.035429,0.261366,<=50K
1,0.837096,1.721073,-1.008692,-0.335432,1.134721,-0.406206,-0.790080,-0.900167,0.393661,0.703061,-0.145918,-0.216656,-2.222119,0.261366,<=50K
2,-0.042641,-0.085295,0.245075,0.181329,-0.420053,-1.734032,-0.286645,-0.277801,0.393661,0.703061,-0.145918,-0.216656,-0.035429,0.261366,<=50K
3,1.057031,-0.085295,0.425795,-2.402474,-1.197440,-0.406206,-0.286645,-0.900167,-1.962591,0.703061,-0.145918,-0.216656,-0.035429,0.261366,<=50K
4,-0.775756,-0.085295,1.408154,-0.335432,1.134721,-0.406206,0.720225,2.211664,-1.962591,-1.422309,-0.145918,-0.216656,-0.035429,-5.352858,<=50K
5,-0.115953,-0.085295,0.898187,0.439709,1.523415,-0.406206,-0.790080,2.211664,0.393661,-1.422309,-0.145918,-0.216656,-0.035429,0.261366,<=50K
6,0.763785,-0.085295,-0.280354,-1.110573,-1.974828,0.257707,0.216790,-0.277801,-1.962591,-1.422309,-0.145918,-0.216656,-1.979153,-2.380622,<=50K
7,0.983719,1.721073,0.188192,0.181329,-0.420053,-0.406206,-0.790080,-0.900167,0.393661,0.703061,-0.145918,-0.216656,0.369514,0.261366,>50K
8,-0.555822,-0.085295,-1.364258,0.439709,1.523415,0.921620,0.720225,-0.277801,0.393661,-1.422309,1.761115,-0.216656,0.774456,0.261366,>50K
9,0.250604,-0.085295,-0.287346,-0.335432,1.134721,-0.406206,-0.790080,-0.900167,0.393661,0.703061,0.555205,-0.216656,-0.035429,0.261366,>50K
10,-0.115953,-0.085295,0.859172,1.214850,-0.031360,-0.406206,-0.790080,-0.900167,-1.962591,0.703061,-0.145918,-0.216656,3.204112,0.261366,>50K
11,-0.629133,2.624257,-0.459321,-0.335432,1.134721,-0.406206,0.720225,-0.900167,-3.140717,0.703061,-0.145918,-0.216656,-0.035429,-3.041119,>50K
12,-1.142313,-0.085295,-0.639568,-0.335432,1.134721,0.921620,-1.545232,0.966932,0.393661,-1.422309,-0.145918,-0.216656,-0.845314,0.261366,<=50K
13,-0.482510,-0.085295,0.144393,-0.852192,0.746028,0.921620,1.223660,-0.277801,-1.962591,0.703061,-0.145918,-0.216656,0.774456,0.261366,<=50K
14,0.103982,-0.085295,-0.644305,-0.593812,0.357334,-0.406206,-1.041797,-0.900167,-3.140717,0.703061,-0.145918,-0.216656,-0.035429,0.261366,>50K
15,-0.335887,-0.085295,0.527794,-1.368953,-2.363521,-0.406206,1.727095,-0.900167,-4.318843,0.703061,-0.145918,-0.216656,0.369514,-1.885249,<=50K
16,-0.995690,1.721073,-0.123376,0.181329,-0.420053,0.921620,-0.538362,0.966932,0.393661,0.703061,-0.145918,-0.216656,-0.440372,0.261366,<=50K
17,-0.482510,-0.085295,-0.027990,0.181329,-0.420053,0.921620,-0.034927,1.589298,0.393661,0.703061,-0.145918,-0.216656,-0.035429,0.261366,<=50K
18,-0.042641,-0.085295,-1.524315,-2.402474,-1.197440,-0.406206,1.223660,-0.900167,0.393661,0.703061,-0.145918,-0.216656,0.774456,0.261366,<=50K
19,0.323916,1.721073,0.970125,0.439709,1.523415,-1.734032,-0.790080,1.589298,0.393661,-1.422309,-0.145918,-0.216656,0.369514,0.261366,>50K
20,0.103982,-0.085295,0.035487,-0.077051,2.300802,-0.406206,0.720225,-0.900167,0.393661,0.703061,-0.145918,-0.216656,1.584342,0.261366,>50K
21,1.130342,-0.085295,1.064592,0.181329,-0.420053,1.585533,0.216790,1.589298,-1.962591,-1.422309,-0.145918,-0.216656,-1.655199,0.261366,<=50K
22,-0.262576,-2.794847,-1.069952,-1.110573,-1.974828,-0.406206,-0.538362,-0.900167,-1.962591,0.703061,-0.145918,-0.216656,-0.035429,0.261366,<=50K
23,0.323916,-0.085295,-0.689165,-2.402474,-1.197440,-0.406206,1.727095,-0.900167,0.393661,0.703061,-0.145918,4.850842,-0.035429,0.261366,<=50K
24,1.496899,-0.085295,-0.765167,0.181329,-0.420053,-1.734032,1.475378,1.589298,0.393661,-1.422309,-0.145918,-0.216656,-0.035429,0.261366,<=50K
25,1.276965,-1.891663,0.256491,-0.335432,1.134721,-0.406206,1.475378,-0.900167,0.393661,0.703061,-0.145918,-0.216656,-0.035429,0.261366,>50K
26,-1.435559,-0.085295,-0.203547,0.181329,-0.420053,0.921620,-1.041797,0.966932,0.393661,0.703061,-0.145918,-0.216656,-0.035429,0.261366,<=50K
27,1.130342,-0.085295,-0.090643,1.214850,-0.031360,-0.406206,0.720225,-0.900167,-3.140717,0.703061,-0.145918,-0.216656,1.584342,-0.399131,>50K
28,0.030670,-0.085295,1.681494,0.181329,-0.420053,-1.734032,-0.790080,-0.277801,0.393661,0.703061,-0.145918,-0.216656,3.204112,0.261366,<=50K
29,0.763785,-0.085295,0.033990,0.181329,-0.420053,-0.406206,-1.041797,-0.900167,0.393661,0.703061,-0.145918,-0.216656,-0.035429,0.261366,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,-0.629133,-0.085295,-1.477664,-0.335432,1.134721,0.921620,0.720225,-0.277801,-3.140717,-1.422309,-0.145918,-0.216656,4.742894,0.261366,<=50K
32532,-0.335887,-0.085295,0.139106,-0.077051,2.300802,-0.406206,0.720225,-0.900167,0.393661,0.703061,-0.145918,-0.216656,1.584342,0.261366,>50K
32533,1.130342,-0.085295,1.404203,-0.335432,1.134721,-0.406206,-0.790080,-0.900167,-3.140717,0.703061,-0.145918,-0.216656,0.774456,-2.215497,>50K
32534,-0.115953,-0.085295,-0.100818,1.214850,-0.031360,-1.734032,-1.545232,1.589298,0.393661,-1.422309,-0.145918,-0.216656,-0.116417,0.261366,<=50K
32535,-1.215625,-0.085295,1.281427,-2.144094,-0.808747,0.921620,0.971943,0.966932,-1.962591,0.703061,-0.145918,-0.216656,-0.440372,0.261366,<=50K
32536,-0.335887,-0.085295,-0.280079,-0.335432,1.134721,0.921620,-0.790080,-0.277801,0.393661,-1.422309,-0.145918,-0.216656,1.179399,0.261366,>50K
32537,-0.629133,-0.085295,1.479106,0.181329,-0.420053,0.921620,-1.041797,-0.277801,-1.962591,0.703061,-0.145918,-0.216656,0.450502,0.261366,<=50K
32538,-0.042641,-0.085295,-0.479378,-0.335432,1.134721,-1.734032,0.720225,1.589298,-1.962591,-1.422309,1.887854,-0.216656,0.369514,0.261366,>50K
32539,2.376637,-0.085295,0.924620,-0.077051,2.300802,-0.406206,0.720225,-0.900167,0.393661,0.703061,-0.145918,-0.216656,-2.465085,0.261366,>50K
32540,0.470539,2.624257,0.591470,0.181329,-0.420053,1.585533,-1.545232,0.966932,0.393661,-1.422309,-0.145918,-0.216656,-0.035429,0.261366,<=50K
32541,0.177293,-0.085295,0.123578,0.181329,-0.420053,1.585533,0.720225,-0.277801,-1.962591,-1.422309,-0.145918,-0.216656,-0.683337,0.261366,<=50K
32542,2.449948,-0.085295,-0.567185,0.181329,-0.420053,-0.406206,0.720225,-0.900167,0.393661,0.703061,-0.145918,-0.216656,-1.250257,0.261366,<=50K
32543,0.470539,-1.891663,-0.668682,-0.852192,0.746028,-1.734032,0.720225,1.589298,0.393661,-1.422309,-0.145918,-0.216656,0.612479,0.261366,<=50K
32544,-0.555822,-0.085295,0.093573,0.439709,1.523415,-1.734032,0.216790,-0.277801,-0.784465,-1.422309,-0.145918,-0.216656,-0.845314,0.261366,<=50K
32545,0.030670,-1.891663,-0.741633,-0.852192,0.746028,-0.406206,-1.545232,2.211664,0.393661,-1.422309,-0.145918,-0.216656,-1.655199,0.261366,>50K
32546,-0.115953,-0.085295,0.079940,-0.852192,0.746028,-1.734032,1.475378,-0.277801,0.393661,-1.422309,-0.145918,-0.216656,-0.035429,0.261366,<=50K
32547,0.323916,-0.085295,0.672503,0.181329,-0.420053,-0.406206,-0.034927,-0.900167,0.393661,0.703061,-0.145918,-0.216656,-0.035429,-1.885249,<=50K
32548,1.936768,1.721073,-0.856650,0.956470,1.912109,0.921620,0.720225,-0.277801,0.393661,0.703061,0.001131,-0.216656,1.584342,0.261366,<=50K
32549,0.323916,2.624257,0.625833,1.214850,-0.031360,-1.734032,-1.545232,0.344565,0.393661,-1.422309,-0.145918,-0.216656,-0.035429,0.261366,<=50K
32550,0.323916,1.721073,-1.539900,1.214850,-0.031360,-0.406206,-1.041797,-0.900167,0.393661,0.703061,-0.145918,-0.216656,0.774456,0.261366,<=50K
32551,-0.482510,-0.085295,-1.475248,-2.660855,-1.586134,-0.406206,-0.286645,-0.900167,-4.318843,0.703061,-0.145918,-0.216656,-0.035429,0.261366,<=50K
32552,0.323916,-0.085295,-0.995901,-0.593812,0.357334,-0.406206,1.223660,-0.900167,0.393661,0.703061,-0.145918,-0.216656,0.369514,0.261366,<=50K
32553,-0.482510,-0.085295,-0.697682,0.439709,1.523415,0.921620,1.475378,-0.277801,-3.140717,0.703061,-0.145918,-0.216656,-2.384096,-0.234007,<=50K
32554,1.057031,-0.085295,1.251413,0.439709,1.523415,-0.406206,-0.790080,-0.900167,0.393661,0.703061,-0.145918,-0.216656,-0.035429,0.261366,>50K
32555,-1.215625,-0.085295,1.140442,1.214850,-0.031360,0.921620,0.971943,-0.277801,0.393661,0.703061,-0.145918,-0.216656,-0.035429,0.261366,<=50K
32556,-0.849067,-0.085295,0.639731,-0.852192,0.746028,-0.406206,1.475378,2.211664,0.393661,-1.422309,-0.145918,-0.216656,-0.197406,0.261366,<=50K
32557,0.103982,-0.085295,-0.335428,0.181329,-0.420053,-0.406206,-0.034927,-0.900167,0.393661,0.703061,-0.145918,-0.216656,-0.035429,0.261366,>50K
32558,1.423588,-0.085295,-0.358772,0.181329,-0.420053,2.249446,-1.545232,1.589298,0.393661,-1.422309,-0.145918,-0.216656,-0.035429,0.261366,<=50K
32559,-1.215625,-0.085295,0.110958,0.181329,-0.420053,0.921620,-1.545232,0.966932,0.393661,0.703061,-0.145918,-0.216656,-1.655199,0.261366,<=50K
32560,0.983719,0.817889,0.929878,0.181329,-0.420053,-0.406206,-0.790080,2.211664,0.393661,-1.422309,1.888395,-0.216656,-0.035429,0.261366,>50K

In [28]:
features = adult_df_rev.values[:,:14]
target = adult_df_rev.values[:,14]
features_train, features_test, target_train, target_test = train_test_split(features,
                                                                            target, test_size = 0.33, random_state = 10)

In [30]:
features_train

array([[-0.11595282987602297, -0.08529502057418822, 0.5390681715844663,
        ..., -0.21665620002803643, -0.19740594701301964,
        0.26136597533861256],
       [-0.9956903274122987, -0.08529502057418822, -0.6588382871259183,
        ..., -0.21665620002803643, -0.03542890292131964,
        -1.0596278387440141],
       [0.2506044607640919, -0.08529502057418822, -0.78729875955653, ...,
        -0.21665620002803643, 0.7744563175371804, 0.26136597533861256],
       ...,
       [-1.4355590761804364, -0.08529502057418822, 0.7088076674224217, ...,
        -0.21665620002803643, -0.03542890292131964, 0.26136597533861256],
       [-0.3358872042600919, -0.08529502057418822, -0.6711263048810997,
        ..., -0.21665620002803643, -0.03542890292131964,
        -2.7108701063472975],
       [-1.4355590761804364, -0.08529502057418822, -0.8765266325081857,
        ..., -0.21665620002803643, -0.03542890292131964,
        0.26136597533861256]], dtype=object)

In [31]:
clf = GaussianNB()
clf.fit(features_train, target_train)
target_pred = clf.predict(features_test)

In [32]:

accuracy_score(target_test, target_pred, normalize = True)

0.80141447980643965

In [33]:
# importing necessary libraries
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split

# loading the iris dataset
iris = datasets.load_iris()

# X -> features, y -> label
X = iris.data
y = iris.target

# dividing X, y into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

# training a DescisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train)
dtree_predictions = dtree_model.predict(X_test)

# creating a confusion matrix
cm = confusion_matrix(y_test, dtree_predictions)

In [35]:
iris

{'DESCR': 'Iris Plants Database\n====================\n\nNotes\n-----\nData Set Characteristics:\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML iris datasets.\nhttp://archive.ics.uci.edu/ml/datasets/Iris\n\nThe famous Iris database, first used by Sir R.A Fisher\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\nReferences\n----------\n   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...\n',
 'data': array([[ 5.1,  3.5,  1.4,  0.2],
        [ 4.9,  3. ,  1.4,  0.2],
        [ 4.7,  3.2,  1.3,  0.2],
        [ 4.6,  3.1,  1.5,  0.2],
        [ 5. ,  3.6,  1.4,  0.2],
        [ 5.4,  3.9,  1.7,  0.4],
        [ 4.6,  3.4,  1.4,  0.3],
        [ 5. ,  3.4,  1.5,  0.2],
        [ 4.4,  2.9,  1.4,  0.2],
        [ 4.9,  3.1,  1.5,  0.1],
        [ 5.4,  3.7,  1.5,  0.2],
        [ 4.8,  3.4,  1.6,  0.2],
        [ 4.8,  3. ,  1.4,  0.1],
        [ 4.3,  3. ,  1.1,  0.1],
        [ 5.8,  4. ,  1.2,  0.2],
        [ 5.7,  4.4,  1.5,  0.4],
        [ 5.4,  3.9,  1.3,  0.4],
        [ 5.1,  3.5,  1.4,  0.3],
        [ 5.7,  3.8,  1.7,  0.3],
        [ 5.1,  3.8,  1.5,  0.3],
        [ 5.4,  3.4,  1.7,  0.2],
        [ 5.1,  3.7,  1.5,  0.4],
        [ 4.6,  3.6,  1. ,  0.2],
        [ 5.1,  3.3,  1.7,  0.5],
        [ 4.8,  3.4,  1.9,  0.2],
        [ 5. ,  3. ,  1.6,  0.2],
        [ 5. ,  3.4,  1.6,  0.4],
        [ 5.2,  3.5,  1.5,  0.2],
        [ 5.2,  3.4,  1.4,  0.2],
        [ 4.7,  3.2,  1.6,  0.2],
        [ 4.8,  3.1,  1.6,  0.2],
        [ 5.4,  3.4,  1.5,  0.4],
        [ 5.2,  4.1,  1.5,  0.1],
        [ 5.5,  4.2,  1.4,  0.2],
        [ 4.9,  3.1,  1.5,  0.1],
        [ 5. ,  3.2,  1.2,  0.2],
        [ 5.5,  3.5,  1.3,  0.2],
        [ 4.9,  3.1,  1.5,  0.1],
        [ 4.4,  3. ,  1.3,  0.2],
        [ 5.1,  3.4,  1.5,  0.2],
        [ 5. ,  3.5,  1.3,  0.3],
        [ 4.5,  2.3,  1.3,  0.3],
        [ 4.4,  3.2,  1.3,  0.2],
        [ 5. ,  3.5,  1.6,  0.6],
        [ 5.1,  3.8,  1.9,  0.4],
        [ 4.8,  3. ,  1.4,  0.3],
        [ 5.1,  3.8,  1.6,  0.2],
        [ 4.6,  3.2,  1.4,  0.2],
        [ 5.3,  3.7,  1.5,  0.2],
        [ 5. ,  3.3,  1.4,  0.2],
        [ 7. ,  3.2,  4.7,  1.4],
        [ 6.4,  3.2,  4.5,  1.5],
        [ 6.9,  3.1,  4.9,  1.5],
        [ 5.5,  2.3,  4. ,  1.3],
        [ 6.5,  2.8,  4.6,  1.5],
        [ 5.7,  2.8,  4.5,  1.3],
        [ 6.3,  3.3,  4.7,  1.6],
        [ 4.9,  2.4,  3.3,  1. ],
        [ 6.6,  2.9,  4.6,  1.3],
        [ 5.2,  2.7,  3.9,  1.4],
        [ 5. ,  2. ,  3.5,  1. ],
        [ 5.9,  3. ,  4.2,  1.5],
        [ 6. ,  2.2,  4. ,  1. ],
        [ 6.1,  2.9,  4.7,  1.4],
        [ 5.6,  2.9,  3.6,  1.3],
        [ 6.7,  3.1,  4.4,  1.4],
        [ 5.6,  3. ,  4.5,  1.5],
        [ 5.8,  2.7,  4.1,  1. ],
        [ 6.2,  2.2,  4.5,  1.5],
        [ 5.6,  2.5,  3.9,  1.1],
        [ 5.9,  3.2,  4.8,  1.8],
        [ 6.1,  2.8,  4. ,  1.3],
        [ 6.3,  2.5,  4.9,  1.5],
        [ 6.1,  2.8,  4.7,  1.2],
        [ 6.4,  2.9,  4.3,  1.3],
        [ 6.6,  3. ,  4.4,  1.4],
        [ 6.8,  2.8,  4.8,  1.4],
        [ 6.7,  3. ,  5. ,  1.7],
        [ 6. ,  2.9,  4.5,  1.5],
        [ 5.7,  2.6,  3.5,  1. ],
        [ 5.5,  2.4,  3.8,  1.1],
        [ 5.5,  2.4,  3.7,  1. ],
        [ 5.8,  2.7,  3.9,  1.2],
        [ 6. ,  2.7,  5.1,  1.6],
        [ 5.4,  3. ,  4.5,  1.5],
        [ 6. ,  3.4,  4.5,  1.6],
        [ 6.7,  3.1,  4.7,  1.5],
        [ 6.3,  2.3,  4.4,  1.3],
        [ 5.6,  3. ,  4.1,  1.3],
        [ 5.5,  2.5,  4. ,  1.3],
        [ 5.5,  2.6,  4.4,  1.2],
        [ 6.1,  3. ,  4.6,  1.4],
        [ 5.8,  2.6,  4. ,  1.2],
        [ 5. ,  2.3,  3.3,  1. ],
        [ 5.6,  2.7,  4.2,  1.3],
        [ 5.7,  3. ,  4.2,  1.2],
        [ 5.7,  2.9,  4.2,  1.3],
        [ 6.2,  2.9,  4.3,  1.3],
        [ 5.1,  2.5,  3. ,  1.1],
        [ 5.7,  2.8,  4.1,  1.3],
        [ 6.3,  3.3,  6. ,  2.5],
        [ 5.8,  2.7,  5.1,  1.9],
        [ 7.1,  3. ,  5.9,  2.1],
        [ 6.3,  2.9,  5.6,  1.8],
        [ 6.5,  3. ,  5.8,  2.2],
        [ 7.6,  3. ,  6.6,  2.1],
        [ 4.9,  2.5,  4.5,  1.7],
        [ 7.3,  2.9,  6.3,  1.8],
        [ 6.7,  2.5,  5.8,  1.8],
        [ 7.2,  3.6,  6.1,  2.5],
        [ 6.5,  3.2,  5.1,  2. ],
        [ 6.4,  2.7,  5.3,  1.9],
        [ 6.8,  3. ,  5.5,  2.1],
        [ 5.7,  2.5,  5. ,  2. ],
        [ 5.8,  2.8,  5.1,  2.4],
        [ 6.4,  3.2,  5.3,  2.3],
        [ 6.5,  3. ,  5.5,  1.8],
        [ 7.7,  3.8,  6.7,  2.2],
        [ 7.7,  2.6,  6.9,  2.3],
        [ 6. ,  2.2,  5. ,  1.5],
        [ 6.9,  3.2,  5.7,  2.3],
        [ 5.6,  2.8,  4.9,  2. ],
        [ 7.7,  2.8,  6.7,  2. ],
        [ 6.3,  2.7,  4.9,  1.8],
        [ 6.7,  3.3,  5.7,  2.1],
        [ 7.2,  3.2,  6. ,  1.8],
        [ 6.2,  2.8,  4.8,  1.8],
        [ 6.1,  3. ,  4.9,  1.8],
        [ 6.4,  2.8,  5.6,  2.1],
        [ 7.2,  3. ,  5.8,  1.6],
        [ 7.4,  2.8,  6.1,  1.9],
        [ 7.9,  3.8,  6.4,  2. ],
        [ 6.4,  2.8,  5.6,  2.2],
        [ 6.3,  2.8,  5.1,  1.5],
        [ 6.1,  2.6,  5.6,  1.4],
        [ 7.7,  3. ,  6.1,  2.3],
        [ 6.3,  3.4,  5.6,  2.4],
        [ 6.4,  3.1,  5.5,  1.8],
        [ 6. ,  3. ,  4.8,  1.8],
        [ 6.9,  3.1,  5.4,  2.1],
        [ 6.7,  3.1,  5.6,  2.4],
        [ 6.9,  3.1,  5.1,  2.3],
        [ 5.8,  2.7,  5.1,  1.9],
        [ 6.8,  3.2,  5.9,  2.3],
        [ 6.7,  3.3,  5.7,  2.5],
        [ 6.7,  3. ,  5.2,  2.3],
        [ 6.3,  2.5,  5. ,  1.9],
        [ 6.5,  3. ,  5.2,  2. ],
        [ 6.2,  3.4,  5.4,  2.3],
        [ 5.9,  3. ,  5.1,  1.8]]),
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'],
       dtype='|S10')}